<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<head th:replace="combo/head.html :: head"></head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}">
	<title>FACTURA</title>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 </head>
<body class="colorbody">
		<!--	<header th:replace ="combo/navBarSimple.html :: navbar" ></header> -->
	<header th:replace="combo/navBar.html :: navbar"></header>
	
		<!-- Encabezado general -->
	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>

		<div class="descripcion">
			<h2 class="tituloAFcenter">FACTURACIÓN ELECTRÓNICA</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">

		</div>

	</div>
    <form class="containerTable" th:action="@{/Factura-post}" method="post">
		<div class="container">

			<div class="form-group">
				<label class="letra" for="nombreCampaign">Periodo de facturacion:</label>
							<select name="Periodo" id="Periodo" style="width: 150px; margin-left: 5px;" onchange="mostrarListaFacturas()">
								<option selected disabled>-Seleccione-</option>
								<option th:text="${xPeriodo.getIdPeriodo()}" th:each="xPeriodo:${xListaPeriodos}"
									th:value="${xPeriodo.getIdPeriodo()}"></option>
							</select>
			</div>
			<br>
			<div class="form-group">
				<label class="letra" for="facturas">Facturas por enviar:</label>
				<input type="text" class="form-control"  id="facturas" name="facturas" readonly>
			</div>

			<br>

			<button type="button" class="btn btn-primary" value="Crear" onclick="send()">Enviar</button>

		</div>



	</form>
<script th:inline="javascript" src="./js/contadorRegresivo.js"></script>  
<script th:inline="javascript">	
	
	
	function mostrarListaFacturas(){
	
	console.log("ingreso a mostrarListaFacturas");
	
	var Periodo = document.getElementById("Periodo").value;
	console.log("Periodo escogido eeeeees: " + Periodo);
	
	var facturas = document.getElementById("facturas");
	
	 // Crear un objeto que contenga los datos a enviar
    var datos = {
        Periodo: Periodo,
        
    };
    
    // Realizar una solicitud POST al controlador
    fetch("./BuscarFacturas", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(datos),
    })
    .then((response) => response.json())
    .then((data) => {
		
		var cantFacturas = data.cantFacturas;
		console.log("cantFacturas es : ", JSON.stringify(cantFacturas));
		
		// Mostramos la cantidad de facturas 
		facturas.value = cantFacturas;
			
        });
	
	
}
	
	
	
	function send() {

    var periodo = document.getElementById("Periodo").value;
    var facturas = document.getElementById("facturas").value;

    
    // Crear un objeto que contenga los datos a enviar
    var datos = {
        periodo: periodo,
        facturas: facturas
        
    };
    
    // Realizar una solicitud POST al controlador
    fetch("./Factura-post", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(datos),
    })
    .then((response) => response.json())
    .then((data) => {
		
		var errorFecha = data.errorFecha;
       console.log( "errorFecha es : " + errorFecha);
       
       var expirado = data.expirado;
       console.log("expirado es: " + expirado);
       
       var envioOK = data.envioOK;
       console.log("envioOK es: " + envioOK);
       
       // Validamos si expirado es = null, si no lo es mostrar un alert informando certificado expirado
       if(expirado == null){
		   
			console.log("expirado es null " );
		   
	   }else{
		   
		   swal({
			   
            title: expirado,
            icon: "warning",
            button: "Continuar",
            
       	 })
       	 .then((value) => {
            // Redirigimos a la vista "Factura" al hacer clic en el botón Continuar
            if (value) {
                window.location.href = "./Factura";
            }
        });
        
	   }
	   
	   
	   
	   // Validamos si errorFecha es = null, si no lo es mostrar un alert informando La fecha de la resolución expiró
	   if(errorFecha == null){
		   console.log("errorFecha es null " );
		   
	   }else{
		   
		    swal({
			   
            title: errorFecha,
            icon: "warning",
            button: "Continuar",
            
       	 })
       	 .then((value) => {
            // Redirigimos a la vista "Factura" al hacer clic en el botón Continuar
            if (value) {
                window.location.href = "./Factura";
            }
        });
	   }
	   
	   
	   if(envioOK === "OK"){		   
		     swal({
            title: "¡Proceso iniciado correctamente! Podrá ver las facturas enviadas en la opción de Reporte FE ",
            icon: "success",
            button: "Continuar",
        })
        .then((value) => {
            // Redirigimos a la vista "CrearSuscriptor"" al hacer clic en el botón Continuar
            if (value) {
                window.location.href = "./Factura";
            }
        });
		   
	   }

       
          
        

    })
    .catch((error) => {
        console.error("Error al registrar el log:", error);
    });
    
    
    
   
}



</script>
</body>
</html>