<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<head th:replace="combo/head.html :: head"></head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}">
	<title>MAIL MARKETING</title>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 </head>
<body class="colorbody">
		<!--	<header th:replace ="combo/navBarSimple.html :: navbar" ></header> -->
	<header th:replace="combo/navBar.html :: navbar"></header>
	
		<!-- Encabezado general -->
	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>

		<div class="descripcion">
			<h2 class="tituloAFcenter">NOTAS DB/CR</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">

		</div>

	</div>
    <form class="containerTable" th:action="@{/Factura-post}" method="post">
		<div class="container">

			<div class="form-group">
				<label class="letra" for="nombreCampaign">Periodo de facturacion:</label>
				
						<select name="Periodo" id="Periodo" style="width: 150px; margin-left: 5px;" onchange="mostrarListaNotas()">
								<option selected disabled>-Seleccione-</option>
								<option th:text="${xPeriodo.getIdPeriodo()}" th:each="xPeriodo:${ListaPeriodosNotas}"
									th:value="${xPeriodo.getIdPeriodo()}"></option>
							</select>
			</div>
			
			<br>
		
			<div class="form-group">
				<label class="letra" for="facturas">Total Notas:</label>
				<input type="text" class="form-control"  id="facturas" name="facturas" readonly>
			</div>
			
			
			
			<div class="form-group" style="display: none; margin-top: 60px;" id="tabla">
					<table class="table">
						<thead>

							<tr style="background-color: #83befa">

								<th></th>			
								<th class="subtituloAF">NIT/CC</th>
								<th class="subtituloAF">NOMBRE TERCERO</th>
								<th class="subtituloAF">#DCTO</th>
								<th class="subtituloAF">VR.NOTA</br></th>
								<th class="subtituloAF">COMENTARIO</th>
								<th></th>


							</tr>
						</thead>
						<tbody>

								<tr th:each="tercero : ${listaBusqueda}">

							</tr>
						</tbody>
					</table>
				</div>

			<br>

            <div style="margin-bottom: 60px;">
			<button type="button" class="btn btn-primary" value="Crear" onclick="send()" style="display: block; margin: auto;">Enviar DIAN</button>
            </div>
		</div>



	</form>
<script th:inline="javascript" src="./js/contadorRegresivo.js"></script>	
<script th:inline="javascript">	
	
	
function mostrarListaNotas(){
		
	console.log("ingreso a mostrarListaFacturas");
	
	var Periodo = document.getElementById("Periodo").value;
	console.log("Periodo escogido eeeeees: " + Periodo);
	
	var facturas = document.getElementById("facturas");
	
	 // Crear un objeto que contenga los datos a enviar
    var datos = {
        Periodo: Periodo,
        
    };
    
    // Realizar una solicitud POST al controlador
    fetch("./BuscarNotas", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(datos),
    })
    .then((response) => response.json())
    .then((data) => {
		
		var cantFacturas = data.cantFacturas;
		var listaNotas = data.listaNotas;
		console.log("cantFacturas es : ", JSON.stringify(cantFacturas));
		
		
		actualizarTabla(listaNotas);
		// Mostramos la cantidad de facturas 
		facturas.value = cantFacturas;
			
        });
	}
	
	
	
	
	
	
	
			// actualizar la tabla
function actualizarTabla(listaNotas) {
    var tablaContainer = document.getElementById("tabla");
    
    var tbody = document.querySelector("#tabla tbody");
    tbody.innerHTML = "";
   
    // Variables para los totales
    var totalRegistros = listaNotas.length;

    // Recorrer la lista y crear las filas
    listaNotas.forEach(function(tercero) {
          var backgroundColor = "rgba(244, 246, 246)"; 
          
        var row = "<tr style='background-color: " + backgroundColor + "'>" +
            "<td class='detalleCentrado' text=''></td>" +
            "<td class='detalleAF'>" + tercero.idCliente + "</td>" +
            "<td class='detalleAF'>" + tercero.nombreTercero + "</td>" +
            "<td class='detalleAF'>" + tercero.idDcto + "</td>" +
            "<td class='detalleAF'>" + tercero.vrFactura + "</td>" +  
            "<td class='detalleAF'>" + tercero.comentario + "</td>" +  
            "<td class='detalleAF'>";
              if (tercero.envioFE == 0 || tercero.envioFE == 3) {
        row += "<input type='radio' name='xIdDcto' value='tercero.idDcto'>";
    }  else {
        row += "<a href='https://catalogo-vpfe.dian.gov.co/User/SearchDocument?DocumentKey=" + tercero.cufe + "' target='popup' onClick='window.open(this.href, this.target, \"width=1000,height=200\"); return false;'>Consultar</a>"; 
    }

    row += "</td>" +
            
            
            "</tr>";

        tbody.innerHTML += row;
        

    
    });
    
    // Hacer visibles las tablas
    tablaContainer.style.display = "block";
    

}
	
	
	
	
	
	
	function send() {

    var periodo = document.getElementById("Periodo").value;

    
    // Crear un objeto que contenga los datos a enviar
    var datos = {
        periodo: periodo
        
    };
    
    // Realizar una solicitud POST al controlador
    fetch("./NotasDB_CR-post", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(datos),
    })
    .then((response) => response.json())
    .then((data) => {
		
		var errorFecha = data.errorFecha;
       console.log( "errorFecha es : " + errorFecha);
       
       var expirado = data.expirado;
       console.log("expirado es: " + expirado);
       
       // Validamos si expirado es = null, si no lo es mostrar un alert informando certificado expirado
       if(expirado == null){
		   
			console.log("expirado es null " );
		   
	   }else{
		   
		   swal({
			   
            title: expirado,
            icon: "warning",
            button: "Continuar",
            
       	 })
       	 .then((value) => {
            // Redirigimos a la vista "Factura" al hacer clic en el botón Continuar
            if (value) {
                window.location.href = "./Factura";
            }
        });
        
	   }
	   
	   
	   
	   // Validamos si errorFecha es = null, si no lo es mostrar un alert informando La fecha de la resolución expiró
	   if(errorFecha == null){
		   console.log("errorFecha es null " );
		   
	   }else{
		   
		    swal({
			   
            title: errorFecha,
            icon: "warning",
            button: "Continuar",
            
       	 })
       	 .then((value) => {
            // Redirigimos a la vista "Factura" al hacer clic en el botón Continuar
            if (value) {
                window.location.href = "./Factura";
            }
        });
	   }
	   

       
          
        

    })
    .catch((error) => {
        console.error("Error al registrar el log:", error);
    });
    
   
}


</script>
</body>
</html>