<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<head th:replace="combo/head.html :: head"></head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}">
	<title>MAIL MARKETING</title>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 </head>
<body class="colorbody">
		<!--	<header th:replace ="combo/navBarSimple.html :: navbar" ></header> -->
	<header th:replace="combo/navBar.html :: navbar"></header>
	
		<!-- Encabezado general -->
	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>

		<div class="descripcion">
			<h2 class="tituloAFcenter">ESTADO RESOLUCIÓN</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">

		</div>

	</div>
    <form class="containerTable" th:action="@{/Factura-post}" method="post">
		<div class="container">
			
				<div class="form-group">
				<label class="letra" for="nombreCampaign">ID resolución:</label>
				<input type="text" class="form-control" id="id" name="id" th:value="${xId}" readonly>
			</div>
			<br>
				<div class="form-group">
				<label class="letra" for="nombreCampaign">Prefijo:</label>
				<input type="text" class="form-control" id="prefijo" name="prefijo" th:value="${xPrefix}" readonly>
			</div>
			<br>
			<div class="form-group">
				<label class="letra" for="nombreCampaign">Resolución:</label>
				<input type="text" class="form-control" id="resolucion" name="resolucion" th:value="${xResolution}" readonly>
			</div>
			<br>
			<div class="form-group">
				<label class="letra" for="nombreCampaign">Fecha expiración:</label>
				<input type="text" class="form-control" id="fechaExp" name="fechaExp" th:value="${xDateTo}" readonly>
			</div>
			<br>
			
			<div class="form-group">
				<label class="letra" for="facturas">Desde:</label>
				<input type="text" class="form-control"  id="desde" name="desde" th:value="${xFrom}" readonly>
			</div>
			<br>
			<div class="form-group">
				<label class="letra" for="facturas">Hasta:</label>
				<input type="text" class="form-control"  id="hasta" name="hasta" th:value="${xTo}" readonly>
			</div>

			<br>

			

		</div>



	</form>
<script th:inline="javascript" src="./js/contadorRegresivo.js"></script> 	
<script th:inline="javascript">	
	
   iniciarContadorRegresivo("./LogoutPorInactividad");
</script>
</body>
</html>