<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="combo/head.html :: head"></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>MAIL MARKETING</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    <link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}">  
</head>
<body class="colorbody">
   <!-- <header th:replace="combo/navBar.html :: navbar"></header> -->
   <header th:replace="combo/navBar.html :: navbar"></header>
    
    <!-- Encabezado general -->
	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="tituloAFIzquierda" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">CONSULTA CREDITO</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
	</div>
	
	    <!-- Formulario para seleccionar formato y enviar datos -->
    <form th:action="@{/downloadReport}" method="post">
        <div class="containerTable">
            <div class="containerFlex">
                <div class="containerDisplayFlexBlack">
                    <label class="letra">Formato:</label>
                    <!-- Select para seleccionar entre "pantalla" o "Archivo" -->
                    <select name="formato" class="form-select">
                        <option value="PDF">Pantalla</option>
                        <option value="EXCEL">Archivo</option>
                    </select>
                </div>
                <div >
                    <!-- Botón para enviar el formulario -->
                    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Consultar</button>
                </div>
            </div>
        </div>
    </form>

    
        <div class="containerTable">
        
         <!--   <table class="table table-hover table-striped" id="table">
                <thead>
                    <tr>
                        <th class="subtituloNumerico">ID Reporte</th>
                        <th class="subtituloNumerico">ID Campaign</th>
                        <th class="subtituloNumerico">ID Plantilla</th>
                        <th class="subtituloAF">Descripción</th>
                        <th class="subtituloCentrado">Fecha Hora Evento</th>
                        <th class="subtituloCentrado">Celular</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="registro : ${registros}">
                        <td class="detalleNumerico" th:text="${registro.idReporte}"></td>
                        <td class="detalleNumerico" th:text="${registro.idCampaign}"></td>
                        <td class="detalleNumerico" th:text="${registro.idPlantilla}"></td>
                        <td  class="detalleAF" th:text="${registro.descripcion}"></td>
                        <td class="detalleCentrado" th:text="${registro.fechaHoraEvento}"></td>
                        <td class="detalleCentrado" th:text="${registro.celular}"></td>
                    </tr>
                </tbody>
            </table>  -->
        
        
        <div class="containerFlex">
            <div class="containerFlexdivBlack"> 
                 <h1 class="letra">Créditos adquiridos: <span th:text="${credito}"></span></h1>
            </div>
            <div class="containerFlexdivBlack"> 
                <h1 class="letra">SMS enviados: <span th:text="${debito}"></span></h1>
            </div>
            <div class="containerFlexdivBlue"> 
                <h1 class="letra">Crédito disponible: <span th:text="${creditoDisponible}"></span></h1>
            </div>
            </div>
        </div>
    
    <script th:inline="javascript" src="./js/contadorRegresivo.js"></script>  
    <script type="text/javascript">
		iniciarContadorRegresivo("./LogoutPorInactividad");
	</script>  
</body>
</html>