<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> MARKETING</title>
</head>
<body class="colorbody">
    <header th:replace="combo/navBar.html :: navbar"></header>
    
    	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">REPORTE DETALLE VENTAS</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
    <div  >
        
        	    <!-- Formulario para seleccionar formato y enviar datos -->
	<form th:action="@{/DescargarReporteDetalleVentas}" method="post">
		<div >
			<div >
				<div class="containerFlexCenter">
				
				
					<div>
						<label class="letra" for="FechaInicial">PERIODO COBRO</label>
						<br>
							<select name="PeriodoCobro" id="PeriodoCobro" style="width: 280px; margin-left: 86px;">
								
								<option th:text="${xLista.getNombrePeriodo()}" th:each="xLista:${xPeriodos}"
									th:value="${xLista.getIdPeriodo()}" th:selected="${xLista.getIdPeriodo() == 202401}"></option>
							</select>
					</div>
						
					<div>
						<label class="letra" for="FechaFinal">ALCANCE</label>
						<br>
						<select name="Ruta" id="Ruta" style="width: 280px; margin-left: 86px;">
								<option selected value="0"> 0 -- NN</option>
								<option th:text="${xLista.getIdRuta() + ' -- ' + xLista.getNombreRuta()}" th:each="xLista:${xRutas}" th:value="${xLista.getIdRuta()}" ></option>
							</select>
					</div>
	
	
					
					<div>
					<label class="letra">Formato:</label>
					<!-- Select para seleccionar entre "pantalla" o "Archivo" -->
					<select name="formato" class="form-select">
						<option value="PDF">Pantalla</option>
						<option value="EXCEL">Archivo</option>
					</select>
					</div>
	
				</div>
				
				<div class="GenerarReporte">
					<!-- Botón para enviar el formulario -->
					<button type="submit" class="btn btn-primary" >Generar Reporte</button>
				</div>
			</div>
		</div>
	</form>

    </div>
    <script th:inline="javascript" src="/js/contadorRegresivo.js"></script>  
    <script th:inline="javascript">
	function mostrarListaQR() {
		
		 var selectCliente = document.getElementById("listaClientes").value;
		 console.log("selectCliente es : " + selectCliente);
		  // Crear un objeto que contenga los datos a enviar
    var datos = {
        selectCliente: selectCliente,
    };

    // Realizar una solicitud POST al controlador
    fetch("./MostarListaPQR", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(datos),
    })
        .then((response) => response.json())
        .then((data) => {
			
			 var xListaPQR = data.xListaPQR;

        // Obtener el elemento select
        var listaPQR = document.getElementById("listaPQR");

		console.log("listaPQR es : " + listaPQR);
        // Limpiar las opciones actuales del select
        listaPQR.innerHTML = "";

        // Agregar la opción "Seleccione" (si es necesario)
        var optionSeleccione = document.createElement("option");
        optionSeleccione.value = "0";
        optionSeleccione.text = "Seleccione";
        listaPQR.appendChild(optionSeleccione);

        // Agregar las nuevas opciones basadas en xListaPQR
        for (var i = 0; i < xListaPQR.length; i++) {
            var opcion = document.createElement("option");
            opcion.value = xListaPQR[i];
            opcion.text = xListaPQR[i].toString(); // Convierte el entero a una cadena
            listaPQR.appendChild(opcion);
        }
        })
        .catch((error) => {
            console.error("Error al registrar el log:", error);
        });
	}	
	
	iniciarContadorRegresivo("./LogoutPorInactividad");
</script>
</body>
</html>