<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="combo/head.html :: head"></head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}">
	<title> MARKETING</title>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
	<header th:replace="combo/navBar.html :: navbar"></header>
	<!-- Encabezado general -->
	<!-- Encabezado general -->
	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>

		<div class="descripcion">
			<h2 class="tituloAFcenter">LISTA REFERENCIAS</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">

		</div>

	</div>

	<form class="containerTable">


		<!-- Registros Terceros -->
		<div class="form-group">

			<table class="table">
				<thead>

					<tr>

						<th></th>
						<th class="subtituloCentrado">PLU</th>
						<th class="subtituloAF">REFERENCIA</th>
						<th class="subtituloAF">ID-ESTRATO</th>
						<th class="subtituloAF">V.L#1</th>
						<th class="subtituloAF">CTA FACTURA DEBITO</th>
						<th class="subtituloAF">CTA FACTURA CREDITO</th>
						<th class="subtituloAF">CTA RECAUDO DEBITO</th>
						<th class="subtituloAF">CTA RECAUDO CREDITO</th>

					</tr>
				</thead>
				<tbody>

					<tr th:each="referencia : ${TodasLasReferencias}">
						<td class="detalleCentrado" text=""></td>
						<td class="detalleCentrado" th:text="${referencia.getIDPLU()}"></td>
						<td>
							<a href="#" th:text="${referencia.getNombrePlu()}"
								th:onclick="'mostrarDetalle(\'' + ${referencia.getIDPLU()} + '\')'"></a>
						</td>
						<td class="detalleAF" th:text="${referencia.getIdEstracto()}"></td>
						<td class="detalleAF" th:text="${referencia.getVrGeneral()}"></td>
						<td class="detalleAF" th:text="${referencia.cuentaContableDebito == null 
                                                       or #strings.isEmpty(#strings.trim(referencia.cuentaContableDebito))
                                                       or referencia.cuentaContableDebito == ' '
                                                       or referencia.cuentaContableDebito == 'NULL'
      												   or referencia.cuentaContableDebito == 'null'
                                                       or referencia.cuentaContableDebito == '0'}
                                                       ? 'Sin asignar'
                                                       : ${referencia.getCuentaContableDebito()}">
						</td>
						<td class="detalleAF" th:text="${referencia.cuentaContableCredito == null 
                                                       or #strings.isEmpty(referencia.cuentaContableDebito)
                                                       or referencia.cuentaContableDebito == 'NULL'
      												   or referencia.cuentaContableDebito == 'null'
                                                       or referencia.cuentaContableDebito == '0'}
                                                       ? 'Sin asignar'
                                                       : ${referencia.getCuentaContableCredito()}">
						</td>
						<td class="detalleAF" th:text="${referencia.cuentaRecaudoDebito == null 
                                                       or #strings.isEmpty(referencia.cuentaContableDebito)
                                                       or referencia.cuentaContableDebito == 'NULL'
      												   or referencia.cuentaContableDebito == 'null'
                                                       or referencia.cuentaContableDebito == '0'}
                                                       ? 'Sin asignar'
                                                       : ${referencia.getCuentaRecaudoDebito()}">
						</td>
						<td class="detalleAF" th:text="${referencia.cuentaRecaudoCredito == null 
                                                       or #strings.isEmpty(referencia.cuentaContableDebito)
                                                       or referencia.cuentaContableDebito == 'NULL'
      												   or referencia.cuentaContableDebito == 'null'
                                                       or referencia.cuentaContableDebito == '0'}
                                                       ? 'Sin asignar'
                                                       : ${referencia.getCuentaRecaudoCredito()}">
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</form>
	<div>
		<a href="./Referencia" class="btn btn-success" style="margin: 50px;">Regresar</a>

	</div>








	<script th:inline="javascript" src="./js/contadorRegresivo.js"></script>
	<script th:inline="javascript">

		function traerTodos() {



			// Crear un objeto que contenga los datos a enviar
			var datos = {

			};

			// Realizar una solicitud POST al controlador
			fetch("./TaertodosSuscriptores", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify(datos),
			})
				.then((response) => response.json())
				.then((data) => {

					var message = data.message;
					console.log(message);


				})
				.catch((error) => {
					console.error("Error al registrar el log:", error);
				});

		}


		function mostrarDetalle(idPluInt) {
			console.log("Ingresó a mostrarDetalle");
			console.log("El idTercero en mostrarDetalle es :" + idPluInt);

			console.log("El tipo de dato de idTercero es: " + typeof idPluInt);

			// Convierte idTercero a string
			var idPlu = idPluInt.toString();

			// Crear un objeto que contenga los datos a enviar
			var datos = {
				idPlu: idPlu
			};

			// Realizar una solicitud POST al controlador
			fetch("./TraerReferencia-Post", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify(datos),
			})
				.then((response) => {
					// Verifica si la respuesta es una redirección
					if (response.redirected) {
						// Redirige al URL especificado en la respuesta
						window.location.href = response.url;
					} else {
						// Parsea la respuesta JSON si no es una redirección
						return response.json();
					}
				})
				.then((data) => {
					if (data) {
						var message = data.message;
						console.log(message);
					}
				})
				.catch((error) => {
					console.error("Error al registrar el log:", error);
				});
		}



	</script>
</body>

</html>