<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> MARKETING</title>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body class="colorbody">
    <header th:replace="combo/navBar.html :: navbar"></header>
    
    	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">REPORTE ESTADO PRODUCTO</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
    <div  >
        
        	    <!-- Formulario para seleccionar formato y enviar datos -->
	<form th:action="@{/DescargarReporteEstadoProducto}" method="post" id="formReporte">
		<div >
			<div >
				<div class="containerFlexCenter">
				
				
					<div>
						<label class="letra" for="FechaInicial">PERIODO COBRO</label>
						<br>
							<select name="PeriodoCobro" id="PeriodoCobro" style="width: 280px; ">
								
								<option th:text="${xLista.getNombrePeriodo()}" th:each="xLista:${xPeriodos}"
									th:value="${xLista.getIdPeriodo()}" th:selected="${xLista.getIdPeriodo() == 202401}"></option>
							</select>
					</div>
					
						
				<div class="form-group">
                    <label class="letra" for="nombreCampaign">NUID:</label>
                    <br>
                    <input type="number" class="form-control" style="width: 200px;" placeholder="Ingrese código del susciptor"  name="palabraClave" id="palabraClave" >
                    
                </div>
	
	
					
					<div>
					<label class="letra">DESTINACION:</label>
					<!-- Select para seleccionar entre "pantalla" o "Archivo" -->
					<select name="formato" id="formato" class="form-select">
						<option value="PDF">Pantalla</option>
						<option value="EXCEL">Archivo</option>
					</select>
					</div>
	
				</div>
				
				<div class="GenerarReporte">
					<!-- Botón para enviar el formulario -->
					<button type="button" class="btn btn-info" value="ReporteNUID" style="margin-right: 50px;" onclick="ReporteNUID()">NUID</button>
					
					<button type="submit" class="btn btn-primary" id="btnGenerarReporte">Generar Reporte</button>
				</div>
			</div>
		</div>
	</form>

    </div>
    <script th:inline="javascript" src="/js/contadorRegresivo.js"></script>  
    <script th:inline="javascript">
		
		
		function ReporteNUID() {

				var palabraClave = document.getElementById("palabraClave").value;

				if (!palabraClave) {
					alert("Por favor, ingrese el codigo de suscriptor.");
					return;
				}



				// Crear un objeto que contenga los datos a enviar
				var datos = {
					palabraClave: palabraClave

				};

				// Realizar una solicitud POST al controlador
				fetch("./BuscarSuscriptorReporteEstadoProducto", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify(datos),
				})
					.then((response) => response.json())
					.then((data) => {

						var tercero = data.tercero;
						console.log(tercero);

						if(tercero === "NULL"){
							
						console.log("El tercero es NULL");
						
      					    swal({
								title: "Suscriptor no encontrado",
								//text: "La PQR  " + numeroRadicado + " ha sido creada correctamente",
								icon: "warning",
								button: "Continuar",
							});

							return;
						
   						 }
   						 
   						 
   						 if(tercero === "OK"){
							
						console.log("El tercero es OK");
						
						var PeriodoCobro = document.getElementById("PeriodoCobro").value;
						console.log("PeriodoCobro es : " + PeriodoCobro);
						var formato = document.getElementById("formato").value;
						
						
      					   // Crear un objeto que contenga los datos a enviar
    						var datos = {
								palabraClave: palabraClave,
								PeriodoCobro: PeriodoCobro,
								formato: formato
        
   								 };
    
									 // Realizar una solicitud POST al controlador
									 fetch("./DescargarReporteEstadoProductoNUID", {
										 method: "POST",
										 headers: {
											 "Content-Type": "application/json",
										 },
										 body: JSON.stringify(datos),
									 })
										 .then(response => response.blob()) // Obtener el contenido como un objeto Blob
										 .then(blob => {
											 // Crear un objeto URL para el Blob
											 const url = URL.createObjectURL(blob);

											 // Abrir una nueva ventana para mostrar el archivo
											 window.open(url);
										 })
										 .catch(error => console.error('Error al descargar el archivo', error));
										
						
   						 }


					})
					.catch((error) => {
						console.error("Error al registrar el log:", error);
					});


			}






		
	
    window.onload = function() {
        //habilitar el botón
        habilitarBoton();
    };
    
      window.addEventListener('pageshow', function(event) {
        // Si la página se muestra desde la caché, habilita el boton
        habilitarBoton();
    });
		


    var btnGenerarReporte = document.getElementById('btnGenerarReporte');

	//Deshabilitar el botón cuando se envia el formulario
	document.getElementById("formReporte").onsubmit = function() {
    document.getElementById("btnGenerarReporte").setAttribute("disabled", "disabled");

		};
		
		
    // Habilitar el boton
    function habilitarBoton() {
        btnGenerarReporte.disabled = false; 
    }
    
    
    

	
	iniciarContadorRegresivo("./LogoutPorInactividad");
</script>
</body>
</html>