<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> MARKETING</title>
</head>
<body class="colorbody">
    <header th:replace="combo/navBar.html :: navbar"></header>
    
    	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">ESTADO DE CUENTA X NUID</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
    <div  >
        
        	    <!-- Formulario para seleccionar formato y enviar datos -->
		<form class="containerTable">
			
			<div id="cajaprincipal" class="cajaprincipal">
			
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 2000px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="estadoTerero" style="margin: 30px;">ESTADO CLIENTE :</label>
							<br>
							<input type="text"maxlength="98"  id="estadoTerero" style="width: 200px; text-align: center; " th:value="${xEstado}" readonly>
						</div>
						
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="nuid" style="margin: 30px;">NUID:</label>
							<input type="text"maxlength="98"  id="nuid" style="width: 200px; text-align: center; " th:value="${xNuid}" readonly>
						</div>
						
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="nombreTercero" style="margin: 30px;">NOMBRE CLIENTE:</label>
							<input type="text"maxlength="98"  id="nombreTercero" style="width: 280px; " th:value="${xNombreTercero}" readonly>
						</div>
						
						
						
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="rutaTercero" style="margin: 30px;">RUTA:</label>
							<input type="text"maxlength="98"  id="rutaTercero" style="width: 200px; text-align: center;" th:value="${xRuta}" readonly>
						</div>
			
			
					</div>
		
			
			</div>
			
			
				
						
			<div class="containerFlexCenter">
				
				<div style="margin-left: 50px;">
					<label style="font-size: 19px; margin-bottom: 10px;">Desde:</label>
					<br>
					<select id="idPeriodoDesde" style="width: 200px; height: 25px; ">
						<option th:text="${xLista.getIdPeriodo() + ' - ' + xLista.getNombrePeriodo()}" th:each="xLista:${xPeriodos}"
							th:value="${xLista.getIdPeriodo()}" th:selected="${xLista.getIdPeriodo() == xIdPeriodo}"></option>
					</select>
				
				</div>
				<div style="margin-left: 20px; display: block;">
					<label style="font-size: 19px; margin-bottom: 10px;">Hasta:</label>
					<br>
					<select id="idPeriodoHasta" style="width: 200px; height: 25px; ">
						<option th:text="${xLista.getIdPeriodo() + ' - ' + xLista.getNombrePeriodo()}" th:each="xLista:${xPeriodos}"
							th:value="${xLista.getIdPeriodo()}" th:selected="${xLista.getIdPeriodo() == xIdPeriodo}"></option>
					</select>
				
				</div>
									
					<div>
					<label class="letra">DESTINACION:</label>
					<!-- Select para seleccionar entre "pantalla" o "Archivo" -->
					<select name="formato" id="formato" class="form-select">
						<option value="PDF">Pantalla</option>
						<option value="EXCEL">Archivo</option>
					</select>
					</div>
	
				</div>
		
			
			<div class="GenerarReporte">
					<a href="./menuPrincipal" class="btn btn-success" style="margin-bottom: 50px; ">Regresar</a>
					<button type="button" class="btn btn-info" id="generarBtn" value="ConfirmarPqr" onclick="ReporteEstadoCuentaXnuid()" style="margin-bottom: 50px; margin-left: 50px;">Generar Reporte</button>
			</div>
			
			<div id="loadingSpinner" style="display: none;">
   				 
  				  <div class="spinner"></div>
			</div>
			
			
			
			
		</form>

    </div>
    <script th:inline="javascript" src="./js/contadorRegresivo.js"></script>  
    <script th:inline="javascript">
		
function ReporteEstadoCuentaXnuid() {
			
			     const button = document.getElementById('generarBtn');
			     
			     // Deshabilitar el botón
        		 button.disabled = true;

				 // Mostrar el spinner de carga
                 document.getElementById('loadingSpinner').style.display = 'block';
                 
                 
   				 var nuid = document.getElementById("nuid").value;
				 var formato = document.getElementById("formato").value;
				 var idPeriodoDesde = document.getElementById("idPeriodoDesde").value;
	             var idPeriodoHasta = document.getElementById("idPeriodoHasta").value;
				


				// Crear un objeto que contenga los datos a enviar
				var datos = {
					nuid: nuid,
					formato: formato,
					idPeriodoDesde: idPeriodoDesde,
					idPeriodoHasta: idPeriodoHasta,

				};

				// Realizar una solicitud POST al controlador
				fetch("./DescargarReporteEstadoCuentaXNuid", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify(datos),
				})
				.then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.blob();  // Convierte la respuesta a un Blob (secuencia de bytes)
    })
    //---------
    .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const nombreReporte = "reporteEstadoCuentaXNuid_" + idPeriodoDesde + " - " + idPeriodoHasta;
        
        if (formato === 'PDF') {
			
			const a = document.createElement('a');
            a.href = url;
            a.download = nombreReporte + '.pdf';
            document.body.appendChild(a);
            a.click();
            a.remove();
            // Abrir  PDF 
            window.open(url, '_blank');
        } else if (formato === 'EXCEL') {
            // Descargar Excel
            const a = document.createElement('a');
            a.href = url;
            a.download = nombreReporte + '.xlsx';           
            document.body.appendChild(a);
            a.click();
            a.remove();
        }

        // Liberar la URL del objeto para liberar recursos
        window.URL.revokeObjectURL(url);
    })
    //----------
    .catch(error => console.error('Error al descargar el archivo', error))
    .finally(() => {
        // Ocultar el spinner de carga
        document.getElementById('loadingSpinner').style.display = 'none';
        button.disabled = false;
    });

	}	

</script>
</body>
</html>