<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}">  	
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> MARKETING</title>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body class="colorbody">
    	<header th:replace="combo/navBar.html :: navbar"></header>
			 <!-- Encabezado general -->
			 		 <!-- Encabezado general -->
	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">CREAR EMPLEADO</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
	<div class="Container1">
		<form class="containerTable">
			<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
				
			<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="nombreTercero" style="margin: 15px;">NOMBRE EMPLEADO:</label>
							<input type="text" maxlength="98" id="nombreTercero" style="width: 280px; margin-left: 65px;" th:value="${xNombreTercero}">
						</div>
			
			
					</div>
				</div>
			
				<div id="caja2">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="ccNit" style="margin: 15px;">CC_NIT:</label>
							<input type="text" id="ccNit" maxlength="18" style="width: 280px; margin-left: 165px;" th:value="${xNombreTercero}" pattern="[0-9]+" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
						</div>
			
			
					</div>
				</div>
			</div>
			
			
			
			<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="tipoSuscriptor" style="margin: 15px;">TIPO SUSCRIPTOR:</label>
				
								<select name="tipoSuscriptor" id="tipoSuscriptor" style="width: 280px; margin-left: 86px;">
								<option selected disabled>-Seleccione-</option>
								<option th:text="${xLista.getNombreCausa()}" th:each="xLista:${TipoSuscriptor}"
									th:value="${xLista.getIdCausa()}"></option>
							</select>
						</div>
			
			
					</div>
				</div>
			
				<div id="caja2">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="DptoCiudad" style="margin: 15px;">DPTO/CIUDAD:</label>
			
							<select name="DptoCiudad" id="DptoCiudad" style="width: 280px; margin-left: 109px;">
								<option selected disabled>-Seleccione-</option>
								<option th:text="${xCiudad.getDepartamentoCiudad()}" th:each="xCiudad:${DepartamentosCiudades}"
									th:value="${xCiudad.getIdCiudad()}"></option>
							</select>
						</div>
			
			
					</div>
				</div>
			</div>
			
			
			<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="direccionPredio" style="margin: 15px;">DIRECCION PREDIO:</label>
							<input type="text" maxlength="118" id="direccionPredio" style="width: 280px; margin-left: 75px;" th:value="${xNombreTercero}">
						</div>
			
			
					</div>
				</div>
			
				<div id="caja2">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="estrato" style="margin: 15px;">ESTRATO:</label>
		
								<select name="estrato" id="estrato" style="width: 280px; margin-left: 147px;">
								<option selected disabled>-Seleccione-</option>
								<option th:text="${xEstrato.getNombreEstracto()}" th:each="xEstrato:${listaEstratos}"
									th:value="${xEstrato.getIdEstracto()}"></option>
							</select>
						</div>
			
			
					</div>
				</div>
			</div>
			
			
			<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="telefonoFijo" style="margin: 15px;">TELEFONO FIJO:</label>
							<input type="text"  maxlength="48" id="telefonoFijo" style="width: 280px; margin-left: 106px;" th:value="${xNombreTercero}" pattern="[0-9]+" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
						</div>
			
			
					</div>
				</div>
			
				<div id="caja2">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="telefonoCelular" style="margin: 15px;">TELEFONO CELULAR (SMS):</label>
							<input type="text"maxlength="48" id="telefonoCelular" style="width: 280px;" th:value="${xNombreTercero}" pattern="[0-9]+" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
						</div>
			
			
					</div>
				</div>
			</div>
			


			
			<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="email" style="margin: 15px;">EMAIL:</label>
							<input type="text" id="email" style="width: 280px; margin-left: 189px;" th:value="${xNombreTercero}">
							<span id="emailError" style="color: red; margin-left: 10px;" ></span>
						</div>
			
			
					</div>
				</div>
			

			</div>
			
			
			
			
			
	
			</div>
				<div class="GenerarReporte">
					<!-- Botón para enviar el formulario -->
					<a href="./CatalogoEmpleado" class="btn btn-success" style="margin: 50px;">Regresar</a>
					<button type="button" class="btn btn-primary" onclick="crearTercero()" >Crear Empleado</button>
				</div>
     
		</form>
	</div>
	
	
	
	
	
	
	

    <script th:inline="javascript" src="./js/contadorRegresivo.js"></script>
    <script th:inline="javascript">
		
function validarEmail() {
    var emailInput = document.getElementById("email");
    var emailError = document.getElementById("emailError");
    var email = emailInput.value;

    // Verificamos si el campo de correo está vacío
    if (email.trim() === "") {
        emailError.textContent = ""; // Limpiarmos mensaje error
        return true; 
    }

    // Validar el formato del correo electrónico si no está vacío
    var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    if (!emailPattern.test(email)) {
        emailError.textContent = "Error";
        emailInput.value = ""; // Limpiar el campo
        return false;
    } else {
        emailError.textContent = "";
        return true;
    }
}

    // listener para el evento blur que se activa cuando se sale del campo email 
    document.getElementById("email").addEventListener("blur", validarEmail);
		
	function crearTercero() {
		
		var nombreTercero = document.getElementById("nombreTercero").value;
		var ccNit = document.getElementById("ccNit").value;
		var tipoSuscriptor = document.getElementById("tipoSuscriptor").value;
		var DptoCiudad = document.getElementById("DptoCiudad").value;		
		var direccionPredio = document.getElementById("direccionPredio").value;
		var telefonoFijo = document.getElementById("telefonoFijo").value;
		var telefonoCelular = document.getElementById("telefonoCelular").value;
		var email = document.getElementById("email").value;
		var estrato = document.getElementById("estrato").value;
		
		
		if (!nombreTercero) {
        alert("Por favor, ingrese un nombre.");
        return;
    }

    	if (!ccNit) {
        alert("Por favor, ingrese un número de documento.");
        return;
    }
    
        	if (tipoSuscriptor == "-Seleccione-") {
        alert("Por favor, seleccione tipo de suscriptor.");
        return;
    }
    
            if (DptoCiudad == "-Seleccione-") {
        alert("Por favor, seleccione una ciudad.");
        return;
    }
    
        	if (!direccionPredio) {
        alert("Por favor, ingrese una dirección de predio.");
        return;
    }
    

      	if (!telefonoFijo) {
        alert("Por favor, ingrese una télefono fijo.");
        return;
    }
    
    
        	if (!telefonoCelular) {
        alert("Por favor, ingrese una télefono celular.");
        return;
    }
    

    
       if (estrato == "-Seleccione-") {
        alert("Por favor, seleccione un estrato.");
        return;
    }
    
    
   
	
		
		
		
		// Crear un objeto que contenga los datos a enviar
    var datos = {
        nombreTercero: nombreTercero,
        ccNit:ccNit,
        tipoSuscriptor:tipoSuscriptor,
        DptoCiudad:DptoCiudad,
        direccionPredio:direccionPredio,
        telefonoFijo: telefonoFijo,
        telefonoCelular: telefonoCelular,
        email:email,
        estrato:estrato
        
    };
    
    // Realizar una solicitud POST al controlador
    fetch("./CrearEmpleado-Post", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(datos),
    })
    .then((response) => response.json())
    .then((data) => {
		
		var message = data.message;
       console.log(message);
       
       var idTercero = data.idTercero
       var nombre = data.nombreTercero
       
          swal({
            title: "¡Empleado " + nombre + " creado correctamente con el ID: " + idTercero + " !",
            //text: "La PQR  " + numeroRadicado + " ha sido creada correctamente",
            icon: "success",
            button: "Continuar",
        })
        .then((value) => {
            // Redirigimos a la vista "CrearSuscriptor"" al hacer clic en el botón Continuar
            if (value) {
                window.location.href = "./CatalogoEmpleado";
            }
        });

    })
    .catch((error) => {
        console.error("Error al registrar el log:", error);
    });
    
		
	
	}
		
	
		
	
		
iniciarContadorRegresivo("./LogoutPorInactividad");		
	</script>
</body>
</html>