<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}">  	
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> MARKETING</title>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body class="colorbody">
    	<header th:replace="combo/navBar.html :: navbar"></header>
			 <!-- Encabezado general -->
			 		 <!-- Encabezado general -->
	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">ACTUALIZAR REFERENCIA</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
	<div class="Container1">
		<form class="containerTable">
			<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
				
			<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
				<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="idPlu" style="margin: 15px;">ID REFERENCIA:</label>
							<input type="text" maxlength="5" id="idPlu" style="width: 128px; margin-left: 286px;" th:value="${xId}" pattern="[0-9]+" oninput="this.value = this.value.replace(/[^0-9]/g, '');" readonly>
						</div>
			
			
					</div>
				</div>
			
				<div id="caja2">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="descripcion" style="margin: 15px;">DESCRIPCION:</label>
							<input type="text" id="descripcion" style="width: 370px; margin-left: 50px;" th:value="${xDescripcion}">
						</div>
			
			
					</div>
				</div>
			</div>
			
			<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="lista1" style="margin: 15px;">LISTA#1:</label>
						  <input type="number" id="lista1"maxlength="5"  min="0" max="100" step="0.01" style="width: 128px; margin-left: 354px;" th:value="${xLista1}" oninput="limitarLongitud(this, 7)" >
						</div>
			
			
					</div>
				</div>
			
				<div id="caja2">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="iva" style="margin: 15px;">%IVA:</label>
							<input type="number" id="iva" maxlength="18" style="width: 250px; margin-left: 214px;" th:value="${xIva}" min="0" max="100" step="0.01"  oninput="limitarValor(this)">
						</div>
			
			
					</div>
				</div>
			</div>
			
			
			<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
					
					
						<div class="containerFlexCenterNombre">
					
							<label class="letra" for="tipo" style="margin: 15px;">TIPO (1-MAT 5-INSTAL 4-CONSUMO 6-FIJO):</label>
							<input type="text" id="tipo" maxlength="18" style="width: 128px; margin-left: 72px;"
								th:value="${xTipo}" >
						</div>
					
					
					</div>
				</div>
			
				<div id="caja2">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="categoria" style="margin: 15px;">CATEGORIA:</label>
							<select name="categoria" id="categoria" style="width: 250px; margin-left: 158px;">
							<!-- Opción por defecto -->
							<option selected disabled>-Seleccione-</option>
							<!-- Opción con el valor por defecto proporcionado desde el controlador -->
							<option th:each="xLista : ${ListaCategorias}" th:text="${xLista.getNombreCategoria()}"
								th:value="${xLista.getIdCategoria()}" th:selected="${xLista.getIdCategoria() == xIdCategoria}" ></option>
						</select>
						</div>
			
			
					</div>
				</div>
			</div>
			

			
			
			<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="estrato" style="margin: 15px;">ESTRATO (1-VDA 2-MUN 3-VER 4-COM 5-IND 6-OFI):</label>
		
							<select name="estrato" id="estrato" style="width: 128px; margin-left: 5px;">
								<option selected disabled>-Seleccione-</option>
								<option th:text="${xEstrato.getNombreEstracto()}" th:each="xEstrato:${listaEstratos}"
									th:value="${xEstrato.getIdEstracto()}" th:selected="${xEstrato.getIdEstracto() == idEstrato}"></option>
							</select>
						</div>
			
			
					</div>
				</div>
			
				<div id="caja2">
						<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
						
						
							<div class="containerFlexCenterNombre">
						
								<label class="letra" for="Tmaximo" style="margin: 15px;">T.MAXIMO:</label>
								<input type="text" id="Tmaximo" maxlength="18" style="width: 250px; margin-left: 176px;"
									th:value="${xTmaximo}" pattern="[0-9]+" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
							</div>
						
						
						</div>
				</div>
			</div>
			
			<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
							<div class="containerFlexCenterNombre">
						
								<label class="letra" for="subsidioContribucion" style="margin: 15px;">% SUBSIDIO CONTRIBUCIÓN:</label>
			   					     <input type="number" id="subsidioContribucion"maxlength="5"  min="0" max="100" step="0.01" style="width: 128px; margin-left: 183px;"
      										  th:value="${xSubsidioContribucion}" oninput="limitarValor(this)">
							</div>
			
			
					</div>
				</div>
			
				<div id="caja2">
						<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
						
						
							<div class="containerFlexCenterNombre">
						
								<label class="letra" for="Rangomaximo" style="margin: 15px;">RANGO MÁXIMO:</label>
								<input type="text" id="Rangomaximo" maxlength="18" style="width: 250px; margin-left: 124px;"
									th:value="${xRangoMaximo}" pattern="[0-9]+" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
							</div>
						
						
						</div>
				</div>
			</div>
			
						<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="RecaudoDebito" style="margin: 15px;">CUENTA RECAUDO DEBITO:</label>
						  <input type="text" id="RecaudoDebito" maxlength="100"  min="0" max="100" step="0.01" style="width: 128px; margin-left: 194px;" th:value="${xcuentaRecaudoDebito}"  >
						</div>
			
			
					</div>
				</div>
			
				<div id="caja2">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="FacturaDebito" style="margin: 15px;">CUENTA FACTURA DEBITO:</label>
							<input type="text" id="FacturaDebito" maxlength="100" style="width: 250px; margin-left: 42px;" th:value="${xcuentaContableDebito}" min="0" max="100" step="0.01"  >
						</div>
			
			
					</div>
				</div>
			</div>
			
						<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="RecuadoCredito" style="margin: 15px;">CUENTA RECAUDO CREDITO:</label>
						  <input type="text" id="RecuadoCredito" maxlength="100"  min="0" max="100" step="0.01" style="width: 128px; margin-left: 182px;" th:value="${xcuentaRecaudoCredito}"  >
						</div>
			
			
					</div>
				</div>
			
				<div id="caja2">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="FacturaCredito" style="margin: 15px;">CUENTA FACTURA CREDITO:</label>
							<input type="text" id="FacturaCredito" maxlength="100" style="width: 250px; margin-left: 30px;" th:value="${xcuentaContableCredito}" min="0" max="100" step="0.01"  >
						</div>
			
			
					</div>
				</div>
			</div>

			
							<div class="containerFlexCenterNombre">
						
								<label class="letra" for="subsidioContribucion" style="margin: 15px;">AVISO:</label>
								<textarea class="form-control" id="Aviso" name="Aviso" maxlength="500" rows="3" th:text="${xAviso}" th:value="${xAviso}"></textarea> 	
							</div>
			

			
	
			</div>
				<div class="divCencer">
					<!-- Botón para enviar el formulario -->
					<a href="./Referencia" class="btn btn-success" style="margin: 50px;">Regresar</a>
					<button type="button" class="btn btn-primary" onclick="actualizarReferencia()" >Actualizar Referencia</button>
				</div>
     
		</form>
	</div>
	
	
	
	
	
	
	

    <script th:inline="javascript" src="/js/contadorRegresivo.js"></script>
    <script th:inline="javascript">
		
	function limitarLongitud(elemento, maximo) {
		if (elemento.value.length > maximo) {
			elemento.value = elemento.value.slice(0, maximo);
		}
	}
		
 function limitarValor(input) {
        // Obtener el valor ingresado como texto
        let valor = input.value;

        // Verificar si el nuevo valor es válido
        if (/^\d{0,2}(\.\d{0,2})?$/.test(valor) || valor === '') {
            // Si es válido o está vacío, actualizar el valor
            input.setAttribute('data-previous-value', valor);
        } else {
            // Si no es válido, mantener el valor anterior
            input.value = input.getAttribute('data-previous-value') || '';
        }
    }
		
	function actualizarReferencia() {
		var idPlu = document.getElementById("idPlu").value;
		var categoria = document.getElementById("categoria").value;
		var descripcion = document.getElementById("descripcion").value;
		var lista1 = document.getElementById("lista1").value;
		var iva = document.getElementById("iva").value;
		var tipo = document.getElementById("tipo").value;
		var Tmaximo = document.getElementById("Tmaximo").value;		
		var estrato = document.getElementById("estrato").value;
		var subsidioContribucion = document.getElementById("subsidioContribucion").value;
		var Rangomaximo = document.getElementById("Rangomaximo").value;
		var RecaudoDebito = document.getElementById("RecaudoDebito").value;
		var FacturaDebito = document.getElementById("FacturaDebito").value;
		var RecuadoCredito = document.getElementById("RecuadoCredito").value;
		var FacturaCredito = document.getElementById("FacturaCredito").value;
		var Aviso = document.getElementById("Aviso").value;
	
	
	
	      if (categoria == "-Seleccione-") {
        alert("Por favor, seleccione una categoria.");
        return;
    }
		
		if (!descripcion) {
        alert("Por favor, ingrese una descripción.");
        return;
    }

    
    	if (!lista1) {
        alert("Por favor, ingrese lista 1.");
        return;
    }
    
    	if (!iva) {
        alert("Por favor, ingrese el IVA.");
        return;
    }
   
       if (!tipo) {
        alert("Por favor, ingrese un tipo.");
        return;
    }
    
       if (!Tmaximo) {
        alert("Por favor, ingrese un Tope Máximo.");
        return;
    }
    
       if (!estrato) {
        alert("Por favor, ingrese un estrato.");
        return;
    }
		
	   if (!subsidioContribucion) {
        alert("Por favor, ingrese un porcentaje de subsidio.");
        return;
    }
    	
		
		
		// Crear un objeto que contenga los datos a enviar
    var datos = {
			idPlu: idPlu,
        	categoria: categoria,
			descripcion: descripcion,
			lista1: lista1,
			iva: iva,
			tipo: tipo,
			Tmaximo: Tmaximo,
			estrato:estrato,
			subsidioContribucion: subsidioContribucion,
			Rangomaximo: Rangomaximo,
			RecaudoDebito: RecaudoDebito,
			FacturaDebito: FacturaDebito,
			RecuadoCredito: RecuadoCredito,
			FacturaCredito: FacturaCredito,
			Aviso: Aviso
    };
    
    // Realizar una solicitud POST al controlador
    fetch("./ActualizarReferencia-Post", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(datos),
    })
    .then((response) => response.json())
    .then((data) => {
		
		var message = data.message;
       console.log(message);
			var idPlu = data.idPlu
       
          swal({
            title: "¡Referencia con ID: " + idPlu + " actualizada correctamente",
            //text: "La PQR  " + numeroRadicado + " ha sido creada correctamente",
            icon: "success",
            button: "Continuar",
        })
        .then((value) => {
            // Redirigimos a la vista "CrearSuscriptor"" al hacer clic en el botón Continuar
            if (value) {
                window.location.href = "./Referencia";
            }
        });

    })
    .catch((error) => {
        console.error("Error al registrar el log:", error);
    });
    
		
	
	}
		
	
		
	
		
iniciarContadorRegresivo("./LogoutPorInactividad");		
	</script>
</body>
</html>