<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}">  	
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> MARKETING</title>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    	<header th:replace="combo/navBar.html :: navbar"></header>
			 <!-- Encabezado general -->
			 		 <!-- Encabezado general -->
	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">ADICIONAR FINANCIACION</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
	
		<form class="containerTable">
			
			<div id="InformaciónNUID" class="containerFlexCenter" style="margin-top: 70px; margin-bottom: 70px;">
				<div>
					<label class="letra" for="tipoTramite">NOMBRE COBRO</label>
					<br>
					<select name="servicio" id="servicio" style="width: 200px;" >
						
						<option th:text="${xLista.getNombrePlu()}" th:each="xLista : ${xListafinanciacion}" th:value="${xLista.getIdPlu()}"></option>
					</select>
				</div>
				

				<div>
					<label class="letra" for="telefono">VR.TOTAL CREDITO</label>
					<br>
					<input type="number" id="vrCredito"  name="vrCredito" th:value="${xVrCredito}"  style="width: 200px;">
				</div>

				<div>
					<label class="letra" for="correoElectronico">#TOTAL CUOTAS</label>
					<br>
					<input type="number" id="totalCoutas"  name="totalCoutas" th:value="${xTotalCoutas}"  style="width: 150px;">
				</div>

				<div>
					<label class="letra" for="direccion">%INTERES</label>
					<br>
					<input type="text" id="interes" name="interes" value="0"  style="width: 150px;">
				</div>

				<div>
					<label class="letra" for="fechaRadicacion">NOMBRE FINANCIACION, TEXTO FACTURA</label>
					<br>
					<input type="text" id="observacion" name="observacion" th:value="${xObservacion}"  style="width: 360px;">
			
				</div>

		
				</div>
			

						
			<div class="GenerarReporte">
					<a href="./menuPrincipal" class="btn btn-success" style="margin-bottom: 50px; ">Regresar</a>
					<button type="button" class="btn btn-info" value="Confirmar" onclick="Confirmar()" style="margin-bottom: 50px; margin-left: 50px;">Confirmar</button>
			</div>
			

			
			
		</form>
	<div>
		
		
	</div>
	
	
	
	
	
	
	

    <script th:inline="javascript" src="./js/contadorRegresivo.js"></script>
    <script th:inline="javascript">
		



	function Confirmar() {
		
		var xIdPlu = document.getElementById("servicio").value;
		var xVrCredito = document.getElementById("vrCredito").value;
		var xPorcentajeInteres = document.getElementById("interes").value;
		var xNumeroCuotas = document.getElementById("totalCoutas").value;
		var xObservacion = document.getElementById("observacion").value;
		
		
		// VALIDAR NUMERO DE CUOTAS
		
		var xNumeroCuotasMaximas = 60;
		
		if(xNumeroCuotas > xNumeroCuotasMaximas){
			alert("Excede el máximo de coutas");
       	 return;
			
		}
		
		if(xNumeroCuotas == 0){
			alert("Por favor asignar número de cuotas.");
       		 return;
			
		}
		
		
		// VALIDAR CAMPOS
		
		if(xVrCredito == 0){
			alert("Por favor asignar valor credito.");
       		 return;
			
		}
		
		if(xObservacion == ""){
			alert("Por favor escribir descripción.");
       		 return;
			
		}


		// Crear un objeto que contenga los datos a enviar
		var datos = {
			xIdPlu: xIdPlu,
			xVrCredito : xVrCredito,
			xPorcentajeInteres: xPorcentajeInteres,
			xNumeroCuotas : xNumeroCuotas,
			xObservacion: xObservacion
		};

		// Realizar una solicitud POST al controlador
		fetch("./ConfirmarFinanciacion-Post", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(datos),
		})

   .then((response) => {
            // Parsea la respuesta JSON
            return response.json();
        })
        .then((data) => {
            var message = data.message;
            console.log(message);
            // Redirige a la URL especificada en la respuesta
            window.location.href = data.redirectUrl;
        })
        .catch((error) => {
            console.error("Error al registrar el log:", error);
        });


	}

			
	
		
iniciarContadorRegresivo("./LogoutPorInactividad");		
	</script>
</body>
</html>