<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}">  	
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> MARKETING</title>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    	<header th:replace="combo/navBar.html :: navbar"></header>
			 <!-- Encabezado general -->
			 		 <!-- Encabezado general -->
	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">IMAGENES LECTURA</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
	
		<form class="containerTable">
			
			<div id="cajaprincipal" class="cajaprincipal">
			
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 2000px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="estadoTerero" style="margin: 30px;">ESTADO CLIENTE :</label>
							<br>
							<input type="text"maxlength="98"  id="estadoTerero" style="width: 200px; text-align: center; " th:value="${xEstado}" readonly>
						</div>
						
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="nuid" style="margin: 30px;">NUID:</label>
							<input type="text"maxlength="98"  id="nuid" style="width: 200px; text-align: center; " th:value="${xNuid}" readonly>
						</div>
						
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="nombreTercero" style="margin: 30px;">NOMBRE CLIENTE:</label>
							<input type="text"maxlength="98"  id="nombreTercero" style="width: 280px; " th:value="${xNombreTercero}" readonly>
						</div>
						
						
						
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="rutaTercero" style="margin: 30px;">RUTA:</label>
							<input type="text"maxlength="98"  id="rutaTercero" style="width: 200px; text-align: center;" th:value="${xRuta}" readonly>
						</div>
			
			
					</div>
		
			
			</div>
			

<style>
table.coordenadas {
    width: 95%;
    border-collapse: collapse;
    text-align: center;
    margin-left: 30px;
    table-layout: fixed;
}

table.coordenadas th, 
table.coordenadas td {
    border: 2px solid black;
    padding: 8px;
    vertical-align: middle;
    word-wrap: break-word;
}

/* Columnas */
.fecha { width: 160px; }
.ubicacion { width: 380px; }
.periodo { width: 100px; }
.medidor { width: 260px; }

/* Mapa */
.mapa {
    width: 350px;
    height: 200px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

/* Imagen */
.img-medidor {
    width: 220px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #999;
}
</style>

<table class="coordenadas">
    <thead>
        <tr style="background-color: #f2f2f2;">
            <th class="fecha">Fecha y hora registro</th>
            <th class="ubicacion">Ubicación</th>
            <th class="periodo">Periodo</th>
            <th class="medidor">Medidor</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="coord : ${coordenadas}">
            
            <!-- Fecha -->
            <td class="fecha" style="font-weight: bold;">
                <span th:text="${coord.fechaRegistroTx}"></span>
            </td>

            <!-- Mapa -->
            <td class="ubicacion">
                <iframe
                    class="mapa"
                    th:src="'https://www.google.com/maps?q=' 
                            + ${coord.latitud} + ',' 
                            + ${coord.longitud} 
                            + '&hl=es;z=17&output=embed'">
                </iframe>
            </td>

            <!-- Periodo -->
            <td class="periodo" style="font-weight: bold;">
                <span th:text="${coord.idPeriodo}"></span>
            </td>

            <!-- Imagen -->
            <td class="medidor">
                <img class="img-medidor"
     th:src="@{/ver-imagen(
        idLocal=${coord.idLocal},
        periodo=${coord.idPeriodo},
        idCliente=${coord.idCliente}
     )}"
     alt="Medidor"/>
            </td>

        </tr>
    </tbody>
</table>

			


			
			
			
			
			
			
		</form>
	<div>
		
		
	</div>
	
	
	
	
	
	
	

    <script th:inline="javascript" src="./js/contadorRegresivo.js"></script>
    <script th:inline="javascript">
		
		
	 

			
	
	</script>
</body>
</html>