<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> MARKETING</title>
</head>
<body class="colorbody">
    <header th:replace="combo/navBar.html :: navbar"></header>
    
    	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">AJUSTE CONSUMO</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
    <div  >
        
        	    <!-- Formulario para seleccionar formato y enviar datos -->
		<form class="containerTable">
			
			<div id="cajaprincipal" class="cajaprincipal">
			
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 2000px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="estadoTerero" style="margin: 30px;">ESTADO CLIENTE :</label>
							<br>
							<input type="text"maxlength="98"  id="estadoTerero" style="width: 200px; text-align: center; " th:value="${xEstado}" readonly>
						</div>
						
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="nuid" style="margin: 30px;">NUID:</label>
							<input type="text"maxlength="98"  id="nuid" style="width: 200px; text-align: center; " th:value="${xNuid}" readonly>
						</div>
						
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="nombreTercero" style="margin: 30px;">NOMBRE CLIENTE:</label>
							<input type="text"maxlength="98"  id="nombreTercero" style="width: 280px; " th:value="${xNombreTercero}" readonly>
						</div>
						
						
						
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="rutaTercero" style="margin: 30px;">RUTA:</label>
							<input type="text"maxlength="98"  id="rutaTercero" style="width: 200px; text-align: center;" th:value="${xRuta}" readonly>
						</div>
			
			
					</div>
		
			
			</div>
			
			
			<div>
				
				<div style="margin-left: 600px;" >
			
							<label class="letra" for="idPeriodo" style="margin: 30px;">PERIODO ACTUAL:</label>
							<input type="text"maxlength="98"  id="idPeriodo" style="width: 200px; text-align: center;" th:value="${xIdPeriodo + ' - ' + xINombrePeriodo}" readonly>
				</div>
				
				
			</div>
			
			<div class="GenerarReporte">
					<a href="./menuPrincipal" class="btn btn-success" style="margin-bottom: 50px; ">Regresar</a>
					<button type="button" class="btn btn-info" id="consultarBtn" onclick="Consultar()" style="margin-bottom: 50px; margin-left: 50px;">Consultar</button>
			</div>
			<div id="loadingSpinner" style="display: none;">
   				 
  				  <div class="spinner"></div>
			</div>
			
			
			
		</form>

    </div>
    <script th:inline="javascript" src="./js/contadorRegresivo.js"></script>  
    <script th:inline="javascript">
		
function Consultar() {
	
	const button = document.getElementById('consultarBtn');
			     
			     // Deshabilitar el botón
        		 button.disabled = true;

				 // Mostrar el spinner de carga
                 document.getElementById('loadingSpinner').style.display = 'block';
		
		var idCliente = document.getElementById("nuid").value;
		console.log("Ingresó a Consultar");


		// Crear un objeto que contenga los datos a enviar
		var datos = {
			idCliente: idCliente
		};

		// Realizar una solicitud POST al controlador
		fetch("./TraerDctoAjuste-Post", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(datos),
		})

			.then((response) => {
							// Verifica si la respuesta es una redirección
							if (response.redirected) {
								// Redirige al URL especificado en la respuesta
								window.location.href = response.url;
							} else {
								// Parsea la respuesta JSON si no es una redirección
								return response.json();
							}
						})
						.then((data) => {
							if (data) {
								var message = data.message;
								console.log(message);
							}
						})
			.catch((error) => {
				console.error("Error al registrar el log:", error);
			});



	}

	
	iniciarContadorRegresivo("./LogoutPorInactividad");
</script>
</body>
</html>