<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> MARKETING</title>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body class="colorbody">
    <header th:replace="combo/navBar.html :: navbar"></header>
    
    	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">REPORTE MEDIDOR FACTURA</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
    <div  >
        
        	    <!-- Formulario para seleccionar formato y enviar datos -->
	<form th:action="@{/DescargarReporteFacturacion}" method="post" id="formReporte">
		<div >
			<div >
				<div class="containerFlexCenter">
				

					
			
					<div>
						<label class="letra" for="PeriodoCobro">PERIODO COBRO</label>
						<br>
							<input type="text" maxlength="5" id="PeriodoCobro" name="PeriodoCobro" style="width: 220px;" th:attr="valor=${xIdPeriodo}"  th:value="${xIdPeriodo + ' - ' + xINombrePeriodo}" readonly>
							<input type="hidden" name="xIdPeriodo" id="xIdPeriodo" th:value="${xIdPeriodo}" />
							<input type="hidden" name="xInicioRegistroTx" id="xInicioRegistroTx" th:value="${xInicioRegistroTx}" />
					</div>
					
					<div>
						<label class="letra" for="Contaseña">CONTRASEÑA</label>
						<br>
							<input type="password" maxlength="10" id="Contaseña" name="Contaseña" style="width: 220px;" >
					</div>

	
				</div>
				

				

				
				<div class="GenerarReporte">
					<a href="./menuPrincipal" class="btn btn-success" style="margin-bottom: 50px; ">Regresar</a>
					<button type="button" class="btn btn-info" id="Facturar" onclick="Factura()" style="margin-bottom: 50px; margin-left: 50px;" >Facturar</button>
				</div>
				<!-- <div id="loadingSpinner" style="display: none;">
   				 
  				  <div class="spinner"></div>
			 </div> -->
				
			</div>
		</div>
	</form>

    </div>
    <script th:inline="javascript" src="./js/contadorRegresivo.js"></script>  
    <script th:inline="javascript">
		

		
			function Factura() {
				
				// Deshabilitar el botón al inicio de la función
  				 document.getElementById("Facturar").disabled = true;
  				 
  				 // Mostrar el spinner de carga
                //document.getElementById('loadingSpinner').style.display = 'block';

				var idPeriodo = document.getElementById("xIdPeriodo").value;
				var Contaseña = document.getElementById("Contaseña").value;



				// Crear un objeto que contenga los datos a enviar
				var datos = {
					idPeriodo: idPeriodo,
					Contaseña: Contaseña

				};

				// Realizar una solicitud POST al controlador
				fetch("./Facturamedidor-Post", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify(datos),
				})
					.then((response) => response.json())
					.then((data) => {
						console.log("data es : ", data);
						
						var error = data.error;
						var Facturado = data.Facturado;
						var message = data.message;
						
						//Error Contraseña
						if(error === "0"){
							
						console.log("error en contraseña");
						
      					    swal({
								title: "Contraseña incorrecta",
								//text: "La PQR  " + numeroRadicado + " ha sido creada correctamente",
								icon: "warning",
								button: "Continuar",
							})

							.then((value) => {
								
								// Ocultar el spinner de carga
                               document.getElementById('loadingSpinner').style.display = 'none';
        					 // Redirigimos a la vista "CrearSuscriptor"" al hacer clic en el botón Continuar
           					 if (value) {
               				window.location.href = "./Facturamedidor";
         						 }
     						   });
   						 }
   						 
   						// Periodo Facturado 
   						if(Facturado === "1"){
							
						
      					    swal({
								title: "Periodo ya facturado",
								//text: "La PQR  " + numeroRadicado + " ha sido creada correctamente",
								icon: "warning",
								button: "Continuar",
							})
							
							.then((value) => {
								
								// Ocultar el spinner de carga
                               document.getElementById('loadingSpinner').style.display = 'none';
        					 // Redirigimos a la vista "CrearSuscriptor"" al hacer clic en el botón Continuar
           					 if (value) {
               				window.location.href = "./Facturamedidor";
         						 }
     						   });
						
   						 }
						 
						 if(Facturado === "2"){
							swal({
					             title: "¡Proceso iniciado correctamente!",
					             icon: "success",
					             button: "Continuar",
					         })
					         .then((value) => {
					             // Redirigimos a la vista "CrearSuscriptor"" al hacer clic en el botón Continuar
					             if (value) {
					                 window.location.href = "./Facturamedidor";
					             }
					         });
						 }
   						 
   						 
   						 
   						 
   						 if(message === "OK"){
								
						    // Ocultar el spinner de carga
                               document.getElementById('loadingSpinner').style.display = 'none';
								
							// Habilitar el botón nuevamente
          					  document.getElementById("Facturar").disabled = false;
							 
							
							}


					})
					.catch((error) => {
						console.error("Error en la solicitud:", error);
					});


			}
		
		




</script>
</body>
</html>