<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> MARKETING</title>
</head>
<body class="colorbody">
    <header th:replace="combo/navBar.html :: navbar"></header>
    
    	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">HISTORICO PAGOS</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
    <div  >
        
        	    <!-- Formulario para seleccionar formato y enviar datos -->
	<form th:action="@{/DescargarReportePQR}" method="post" onsubmit="return validarFormulario()">
		
		
		<div id="cajaprincipal" class="cajaprincipal">
			
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 2000px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="estadoTerero" style="margin: 30px;">ESTADO CLIENTE :</label>
							<br>
							<input type="text"maxlength="98"  id="estadoTerero" style="width: 200px; text-align: center; " th:value="${xEstado}" readonly>
						</div>
						
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="nuid" style="margin: 30px;">NUID:</label>
							<input type="text"maxlength="98"  id="nuid" style="width: 200px; text-align: center; " th:value="${xNuid}" readonly>
						</div>
						
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="nombreTercero" style="margin: 30px;">NOMBRE CLIENTE:</label>
							<input type="text"maxlength="98"  id="nombreTercero" style="width: 280px; " th:value="${xNombreTercero}" readonly>
						</div>
						
						
						
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="rutaTercero" style="margin: 30px;">RUTA:</label>
							<input type="text"maxlength="98"  id="rutaTercero" style="width: 200px; text-align: center;" th:value="${xRuta}" readonly>
						</div>
			
			
					</div>
		
			
			</div>
		
		
		
		
		<div >
			<div >
				<div class="containerFlexCenter6">
								
					<div >
						<label class="letra" for="FechaInicial">Fecha inicial</label>
						<br>
						<input type="date" id="FechaInicial" name="FechaInicial" pattern="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}" required>
					</div>
						
					<div >
						<div>
						<label class="letra" for="FechaFinal">Fecha final</label>
						<br>
						<input type="date" id="FechaFinal" name="FechaFinal" pattern="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}" required>
						</div>
						
					</div>
				</div>
				
			  <div class="GenerarReporte">
					<a href="./menuPrincipal" class="btn btn-success" style="margin-bottom: 50px; ">Regresar</a>
					<button type="button" class="btn btn-info" id="consultarBtn" value="ConfirmarPqr" onclick="ReportePqr()" style="margin-bottom: 50px; margin-left: 50px;">Consultar</button>
					<button type="button" class="btn btn-info" id="consultarBtn" value="ConfirmarPqr" onclick="RetirarPago()" style="margin-bottom: 50px; margin-left: 50px;">Retirar Pago</button>
			  </div>
				<div id="loadingSpinner" style="display: none;">
   				 
  				  <div class="spinner"></div>
			</div>
			</div>
		</div>
	</form>

    </div>
    <script th:inline="javascript" src="./js/contadorRegresivo.js"></script>  
    <script th:inline="javascript">
		
		
		
		function RetirarPago() {
				
		var idCliente = document.getElementById("nuid").value;
		var FechaInicial = document.getElementById("FechaInicial").value;
		var FechaFinal = document.getElementById("FechaFinal").value;


		// Crear un objeto que contenga los datos a enviar
		var datos = {
			idCliente: idCliente,
			FechaInicial: FechaInicial,
			FechaFinal: FechaFinal
		};

		// Realizar una solicitud POST al controlador
		fetch("./TraerPagos-Post", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(datos),
		})
        .then((response) => {
							// Verifica si la respuesta es una redirección
							if (response.redirected) {
								// Redirige al URL especificado en la respuesta
								window.location.href = response.url;
							} else {
								// Parsea la respuesta JSON si no es una redirección
								return response.json();
							}
						})
						.then((data) => {
							if (data) {
								var message = data.message;
								console.log(message);
							}
						})
			.catch((error) => {
				console.error("Error al registrar el log:", error);
			});



	}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		function ReportePqr() {
                 
   				 var listaPQR = document.getElementById("listaPQR").value;
				 var formato = document.getElementById("formato").value;
				 var listaClientes = document.getElementById("listaClientes").value;
				 
				 
				 console.log("listaPQR " + listaPQR);
				 console.log("listaClientes " + listaClientes);
				 
				 
				 if(listaClientes == "Seleccione"){
					
				 
					 alert("Por favor seleccione un Cliente");
					 return;
				 }
				 
				 
				 
				 if(listaPQR == "Seleccione"){
					 
					 alert("Por favor seleccione una PQR");
					 return;
				 }
				 
				 
				 
				 const button = document.getElementById('consultarBtn');
			     
			     // Deshabilitar el botón
        		 button.disabled = true;

				 // Mostrar el spinner de carga
                 document.getElementById('loadingSpinner').style.display = 'block';
				


				// Crear un objeto que contenga los datos a enviar
				var datos = {
					listaPQR: listaPQR,
					formato: formato,
					listaClientes: listaClientes

				};

				// Realizar una solicitud POST al controlador
				fetch("./DescargarReportePQR", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify(datos),
				})
					.then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.blob();  // Convierte la respuesta a un Blob (secuencia de bytes)
    })
    .then(blob => {
		
		// Se crea una URL para el Blob
        const url = window.URL.createObjectURL(blob);
        
        // Se crea un enlace para descargar el Blob
        const a = document.createElement('a');
        a.href = url;
        a.download = formato === 'EXCEL' ? 'reporte.xlsx' : 'reporte.pdf';
        document.body.appendChild(a);
        a.click();
        a.remove();
        
        // Liberar la URL del objeto para liberar recursos
        window.URL.revokeObjectURL(url);
    })
    .catch(error => console.error('Error al descargar el archivo', error))
    .finally(() => {
            // Ocultar el spinner de carga
            document.getElementById('loadingSpinner').style.display = 'none';
            button.disabled = false;
        });

	}			
		
		
		
		
		
		
		
	function validarFormulario() {
        
        var clientePQR = document.getElementById("listaClientes").value;
        var pqrsCliente = document.getElementById("listaPQR").value;

        // Validar si los campos no están seleccionados
        if (clientePQR === "0" || pqrsCliente === "0") {
            
            alert("Debe seleccionar un cliente con PQR y un PQRS cliente antes de generar el reporte.");
            return false; 
        }

        //enviar el formulario
        return true;
    }
		
		
	function mostrarClienteQR() {
		
		 var selectCliente = document.getElementById("listaClientes").value;
		 console.log("selectCliente es : " + selectCliente);
		 
		 var FechaInicial = document.getElementById("FechaInicial").value
		 var FechaFinal = document.getElementById("FechaFinal").value
		
		 
		 
	if (!FechaInicial) {
        alert("Por favor, elija una fecha inicial.");
        return;
    }
    
    if (!FechaFinal) {
        alert("Por favor, elija una fecha final.");
        return;
    }
    
    
     const button = document.getElementById('consultarBtn');
			     
			     // Deshabilitar el botón
        		 button.disabled = true;

    
    
		  // Crear un objeto que contenga los datos a enviar
    var datos = {
        selectCliente: selectCliente,
        FechaInicial: FechaInicial,
        FechaFinal: FechaFinal
    };

    // Realizar una solicitud POST al controlador
    fetch("./MostarClientePQR", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(datos),
    })
        .then((response) => response.json())
        .then((data) => {
			
			var xdatosListaTercerosClientes = data.datosListaTercerosClientes;
			console.log("xdatosListaTercerosClientes es : " + xdatosListaTercerosClientes);
			
			   // Obtener el select
    var selectCliente = document.getElementById("listaClientes");

    // Limpiar el select
    selectCliente.innerHTML = "";

    // Agregar la opción predeterminada "Seleccione"
    var option = document.createElement("option");
    option.value = "0";
    option.text = "Seleccione";
    selectCliente.appendChild(option);

    // Agregar opciones para cada elemento en xdatosListaTercerosClientes
    xdatosListaTercerosClientes.forEach(function(cliente) {
        var option = document.createElement("option");
        option.value = cliente.idCliente;
        option.text = cliente.idCliente + ' - ' + cliente.nombreTercero;
        selectCliente.appendChild(option);
    });


            button.disabled = false;

        })
        .catch((error) => {
            console.error("Error al registrar el log:", error);
        });
	}	
	
	
	function mostrarListaPQR() {
		
		 var selectCliente = document.getElementById("listaClientes").value;
		 console.log("selectCliente es : " + selectCliente);
		 
		 var FechaInicial = document.getElementById("FechaInicial").value
		 var FechaFinal = document.getElementById("FechaFinal").value
		 
	if (selectCliente == 0) {
        alert("Por favor, seleccione un cliente.");
        return;
    }	 
		 
	if (!FechaInicial) {
        alert("Por favor, elija una fecha inicial.");
        return;
    }
    
    if (!FechaFinal) {
        alert("Por favor, elija una fecha final.");
        return;
    }
		  // Crear un objeto que contenga los datos a enviar
    var datos = {
        selectCliente: selectCliente,
        FechaInicial: FechaInicial,
        FechaFinal: FechaFinal
    };

    // Realizar una solicitud POST al controlador
    fetch("./MostarListaPQR", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(datos),
    })
        .then((response) => response.json())
        .then((data) => {
			
			 var xListaPQR = data.xListaPQR;

        // Obtener el elemento select
        var listaPQR = document.getElementById("listaPQR");

		console.log("listaPQR es : " + listaPQR);
        // Limpiar las opciones actuales del select
        listaPQR.innerHTML = "";

        // Agregar la opción "Seleccione" (si es necesario)
        var optionSeleccione = document.createElement("option");
        optionSeleccione.value = "0";
        optionSeleccione.text = "Seleccione";
        listaPQR.appendChild(optionSeleccione);

        // Agregar las nuevas opciones basadas en xListaPQR
        for (var i = 0; i < xListaPQR.length; i++) {
            var opcion = document.createElement("option");
            opcion.value = xListaPQR[i];
            opcion.text = xListaPQR[i].toString(); // Convierte el entero a una cadena
            listaPQR.appendChild(opcion);
        }
        })
        .catch((error) => {
            console.error("Error al registrar el log:", error);
        });
	}	
	
	iniciarContadorRegresivo("./LogoutPorInactividad");
</script>
</body>
</html>