<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> MARKETING</title>
         <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body class="colorbody">
    <header th:replace="combo/navBar.html :: navbar"></header>
    
    	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">PAGOS CXC ARCHIVO COTRAFA</h2> 
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
    <div  >
        
        	    <!-- Formulario para seleccionar formato y enviar datos -->
	<form th:action="@{/UploadCotrafaPago}" method="post" id="formReporte">
		

			<div>
				<div class="containerFlexCenterNoBorderNoSpace">
			
					<div style="margin-right: 100px;">
						<label class="letra" for="fechaPago">FECHA PAGO</label>
						<br>
						<input type="date" id="fechaPago" name="fechaPago" th:value="${xFechaActual}" pattern="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}" required>
					</div>
			
					<div>
						<label class="letra" for="PeriodoCobro">PERIODO COBRO</label>
						<br>
						<input type="text" maxlength="5" id="PeriodoCobro" name="PeriodoCobro" style="width: 220px;"
							th:attr="valor=${xIdPeriodo}" th:value="${xIdPeriodo + ' - ' + xINombrePeriodo}" readonly>
					</div>
			
			
				</div>
			
				<div class="GenerarReporte">
					<a href="./menuPrincipal" class="btn btn-success" >Regresar</a>
						
						<div>
						<input style="width: 400px; margin-left: 50px;"  type="file"   id="archivo" name="archivo" accept=".xls, .docx" required="required"  />
						</div>
					
					<button type="button" class="btn btn-info" id="consultarBtn" value="SubirArchivo" onclick="SubirArchivo()" style="margin-left: 50px;">Subir Archivo</button>
			</div>
			<div id="loadingSpinner" style="display: none;">
   				 
  				  <div class="spinner"></div>
			</div>
			
			
			
			</div>
	
	</form>

    </div>
    <script th:inline="javascript" src="./js/contadorRegresivo.js"></script>  
    <script th:inline="javascript">
		

		
		function SubirArchivo() {
    // Obtener la fecha de pago
    var fechaPago = document.getElementById("fechaPago").value;

    // Obtener el input del archivo
    var inputFile = document.getElementById('archivo');

    // Verificar si se ha seleccionado un archivo
    if (inputFile.files.length > 0) {
		
		 const button = document.getElementById('consultarBtn');
			     
			     // Deshabilitar el botón
        		 button.disabled = true;

				 // Mostrar el spinner de carga
                 document.getElementById('loadingSpinner').style.display = 'block';
		
		
        // Crear un objeto FormData
        var formData = new FormData();

        // Agregar la fecha de pago al objeto FormData
        formData.append('fechaPago', fechaPago);

        // Obtener el archivo seleccionado
        var archivo = inputFile.files[0];

        // Agregar el archivo al objeto FormData
        formData.append('archivo', archivo);

        // Realizar una solicitud POST al controlador
        fetch("./SubirArchivo", {
            method: "POST",
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            // Manejar la respuesta del servidor aquí
            var message = data.message;
            console.log(message);
            
            
            if(message == "OK"){
				
				// Ocultar el spinner de carga
            document.getElementById('loadingSpinner').style.display = 'none';
            button.disabled = false;
				
				 swal({
            title: "¡Pagos procesados correctamente",
            //text: "La PQR  " + numeroRadicado + " ha sido creada correctamente",
            icon: "success",
            button: "Continuar",
        })
        .then((value) => {
            // Redirigimos a la vista 
            if (value) {
                window.location.href = "./DetallePago";
            }
        });
				
			}
            
            
          if(message == "PESADO"){
			  
			  // Ocultar el spinner de carga
            document.getElementById('loadingSpinner').style.display = 'none';
            button.disabled = false;
				
				 swal({
            title: "¡El archivo supera el tamaño aceptado, 2MB.",
            //text: "La PQR  " + numeroRadicado + " ha sido creada correctamente",
            icon: "error",
            button: "Continuar",
        })
        .then((value) => {
            // Redirigimos a la vista 
            if (value) {
                window.location.href = "./PagoArchivo";
            }
        });
				
			}
			
			
			
		 if(message == "NO"){
			 
			 // Ocultar el spinner de carga
            document.getElementById('loadingSpinner').style.display = 'none';
            button.disabled = false;
				
				 swal({
            title: "¡El valor del pago no coincide.",
            //text: "La PQR  " + numeroRadicado + " ha sido creada correctamente",
            icon: "error",
            button: "Continuar",
        })
        .then((value) => {
            // Redirigimos a la vista 
            if (value) {
                window.location.href = "./PagoArchivo";
            }
        });
				
			}
			
			
			
			 if(message == "SI"){
			 
			 var Dcto = data.Dcto;
			 // Ocultar el spinner de carga
            document.getElementById('loadingSpinner').style.display = 'none';
            button.disabled = false;
				
				 swal({
            title: "¡Ya existe pago para la factura " + Dcto ,
            //text: "La PQR  " + numeroRadicado + " ha sido creada correctamente",
            icon: "error",
            button: "Continuar",
        })
        .then((value) => {
            // Redirigimos a la vista 
            if (value) {
                window.location.href = "./PagoArchivo";
            }
        });
				
			}
           
            
            
        })
        .catch(error => {
            console.error("Error al subir el archivo:", error);
            alert("Error al subir el archivo: " + error.message);
        });
        
        
    } else {
        alert('Por favor, seleccione un archivo.');
    }
}
		







	
	iniciarContadorRegresivo("./LogoutPorInactividad");
</script>
</body>
</html>