<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> MARKETING</title>
</head>
<body class="colorbody">
    <header th:replace="combo/navBar.html :: navbar"></header>
    
    	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">REPORTE CRITICAS</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
    <div  >
        
        	    <!-- Formulario para seleccionar formato y enviar datos -->
	<form th:action="@{/DescargarReporteFacturacion}" method="post" id="formReporte">
		<div >
			<div >
				<div class="containerFlexCenter">
				

					
			
					<div>
						<label class="letra" for="PeriodoCobro">PERIODO ACTUAL</label>
						<br>
							<input type="text" maxlength="5" id="PeriodoCobro" name="PeriodoCobro" style="width: 220px;" th:attr="valor=${xIdPeriodo}"  th:value="${xIdPeriodo + ' - ' + xINombrePeriodo}" readonly>
							<input type="hidden" name="xIdPeriodo" id="xIdPeriodo" th:value="${xIdPeriodo}" />
							<input type="hidden" name="xInicioRegistroTx" id="xInicioRegistroTx" th:value="${xInicioRegistroTx}" />
					</div>
					
					
					
					<div>
						<label class="letra" for="FechaFinal">RUTA</label>
						<br>
						<select name="Ruta" id="Ruta" style="width: 280px;">
								<option selected value="0"> Todas las rutas</option>
								<option th:text="${xLista.getIdRuta() + ' -- ' + xLista.getNombreRuta()}" th:each="xLista:${xRutas}" th:value="${xLista.getIdRuta()}" ></option>
							</select>
					</div>
					
				<div>
					<label class="letra" for="exceso">%EXCESO:</label>
					<br>
					<input type="number" id="exceso"  name="exceso"   style="width: 160px;" value="0.0">
				</div>
				
				<div>
					<label class="letra" for="M3Consumo">BASE M3 CONSUMO:</label>
					<br>
					<input type="number" id="M3Consumo"  name="M3Consumo"  style="width: 160px;" value="0.0">
				</div>
				
				<div class="containerFlexCenterNombre">
							<select name="CriticaLectura" id="CriticaLectura" style="width: 150px; margin-top: 28px;">
								<!-- Opción por defecto -->
								<option selected value="-Seleccione-"> -Seleccione-</option>
								<!-- Opción con el valor por defecto proporcionado desde el controlador -->
								<option th:each="xLista : ${CriticaLectura}" th:text="${xLista.getNombreCausa()}"
									th:value="${xLista.getIdCausa()}" th:selected="${xLista.getIdCausa() == xEstado}"></option>
							</select>
				</div>
					
				<div >
					<button type="submit" class="btn btn-primary" onclick="ReporteExcel()" >EXCEL</button>
					<!-- Botón para enviar el formulario -->
					
				</div>
				
	
	
				</div>
				
			<div class="GenerarReporte">
					<!-- Botón para enviar el formulario -->

					
				</div>
				
				
				   <div class="form-group" style="display: none;" id="tabla">
					<table class="table">
						<thead>
						
							<tr>
								
								<th></th>			
								<th class="subtituloAF">SUSCRIPTOR</th>
								<th class="subtituloAF">NUID</th>
								<th class="subtituloAF">ORDEN</th>
								<th class="subtituloAF">LECT<br>ACT</br></th>
								<th class="subtituloAF">LECT<br>ANT</br></th>
								<th class="subtituloAF">M3</br></th>
								<th class="subtituloAF">PROM</br>LECT</th>
								<th class="subtituloAF">MEDIDOR</th>
								<th class="subtituloAF">ESTADO</br>LECTURA</th>
								<th class="subtituloAF">%EXCESO<br>%DEFECTO</th>
								<th class="subtituloAF">ESTADO<br>MEDIDOR</th>
								
							</tr>
						</thead>
						<tbody>
							
								<tr th:each="tercero : ${listaBusqueda}">
								<td class="detalleCentrado" text=""  ></td>
								<td class="detalleCentrado" th:text="${tercero.getIdTercero()}"  ></td>
								<td class="detalleAF" th:text="${tercero.getNombreTercero()}" ></td>
								<td class="detalleAF" th:text="${tercero.getDireccionTercero()}"></td>
								<td class="detalleAF" th:text="${tercero.getNombreEstracto()}"></td>
								<td class="detalleAF" th:text="${tercero.getNombreRuta()}"></td>
								<td class="detalleAF" th:text="${tercero.getTelefonoCelular()}"></td>
								<td class="detalleAF" th:text="${tercero.getNombreCausa()}"></td>
								
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="GenerarReporte">
					<a href="./menuPrincipal" class="btn btn-success" style="margin-bottom: 50px; ">Regresar</a>
					<button type="button" class="btn btn-info" id="registrar"  onclick="Consultar()" style="margin-bottom: 50px; margin-left: 100px; " >Consultar</button>
				</div>
				
			</div>
		</div>
	</form>

    </div>
    <script th:inline="javascript" src="./js/contadorRegresivo.js"></script>  
    <script th:inline="javascript">
		
		
		
		function Consultar() {

				var idPeriodo = document.getElementById("xIdPeriodo").value;
				var idRuta = document.getElementById("Ruta").value;
				var exceso = document.getElementById("exceso").value;
				var M3Consumo = document.getElementById("M3Consumo").value;
				var CriticaLectura = document.getElementById("CriticaLectura").value;
				
				
				
				if(CriticaLectura == "-Seleccione-"){
					
					alert("Por favor, seleccione una opción.");
     			   return;
				}
				
				
				
				
				
			if (idRuta == "-Seleccione-") {
        		alert("Por favor, seleccione una ruta.");
     			   return;
  					  }



				// Crear un objeto que contenga los datos a enviar
				var datos = {
					idPeriodo: idPeriodo,
					idRuta: idRuta,
					exceso: exceso,
					M3Consumo: M3Consumo,
					CriticaLectura: CriticaLectura

				};

				// Realizar una solicitud POST al controlador
				fetch("./ConsultarCritica", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify(datos),
				})
					.then((response) => response.json())
					.then((data) => {
						console.log("data es : ", data);

						// Acceder a la lista de resultados y actualizar la tabla
						var lista = data.lista;
						var EstadoLectura = data.EstadoLectura;
						var xInicioRegistroTxData = data.xInicioRegistroTx;
						
						
						// Asignar el valor obtenido al input con el ID "xInicioRegistroTx"
    					document.getElementById("xInicioRegistroTx").value = xInicioRegistroTxData;
   						
						console.log("listaBusqueda es : ", JSON.stringify(lista));

						// Llamar a la función para actualizar la tabla
						actualizarTabla(lista, EstadoLectura);
						
	
					})
					.catch((error) => {
						console.error("Error en la solicitud:", error);
					});


			}
		
		
		// Función para actualizar la tabla
function actualizarTabla(lista, EstadoLectura) {
    // Obtener el contenedor de la tabla
    var tablaContainer = document.getElementById("tabla");



	
    // Limpiar la tabla antes de agregar nuevos datos
    var tbody = document.querySelector("#tabla tbody");
    tbody.innerHTML = "";

    // Verificar si la lista de búsqueda está vacía
    if (lista.length === 0) {
        // Si la lista está vacía, ocultar la tabla y salir de la función
        tablaContainer.style.display = "none";
        return;
    }

    // Iterar sobre la lista de resultados y agregar filas a la tabla
 lista.forEach(function(tercero) {
	 
		 var backgroundColor = tercero.lecturaActual === 0 ? "rgba(255, 0, 0, 0.2)" : "";
         var row = "<tr style='background-color: " + backgroundColor + "'>" +
            "<td class='detalleCentrado' text=''></td>" +
            "<td class='detalleAF'>" + tercero.nombreTercero + "</td>" +
            "<td class='detalleAF'><a href='#' onclick='mostrarDetalle(" + tercero.idCliente + ")'>" + tercero.idCliente + "</a></td>" +
            "<td class='detalleAF'>" + tercero.ordenRuta + "</td>" +
            "<td class='detalleAF'>" + tercero.lecturaActual + "</td>" +
            "<td class='detalleAF'>" + tercero.lecturaAnterior + "</td>" +
            "<td class='detalleAF'>" + (tercero.lecturaActual - tercero.lecturaAnterior) + "</td>" +
            "<td class='detalleAF'>" + tercero.promedio + "</td>" +
            "<td class='detalleAF'><a href='#' onclick='renumerar(" + tercero.idTercero + ")'>renumerar</a></td>" +
			"<td class='detalleAF'>" + tercero.nombreCausa + "</td>" +
			"<td class='detalleAF'>" + (tercero.valorExceso != null ? tercero.valorExceso : "0") + "</td>" +
            "<td class='detalleAF' style='color: " + (tercero.nombreEstado === 'Activo' ? 'green' : 'red') + "'>" + tercero.nombreEstado + "</td>" +
            "</tr>";

        tbody.innerHTML += row;
    });

    tablaContainer.style.display = "block";
}




function Guardar() {
    // Obtener la tabla
    
    var xnuidArr = [];
	var xlecturaActualArr = [];
	var xlecturaAnteriorArr = [];
	var xEstadoLecturaArr = [];
    var xCantidadPedidaArr = [];
    
    var idPeriodo = document.getElementById("xIdPeriodo").value;
    var idRuta = document.getElementById("Ruta").value;
    
    var xInicioRegistroTx = document.getElementById("xInicioRegistroTx").value;
    console.log("xInicioRegistroTx EN RENUMERAR ES :  " + xInicioRegistroTx);
    
    
    var tabla = document.querySelector("#tabla tbody");

	console.log("INGRESÓ A GAURDAR: ");
    // Obtener todas las filas de la tabla
    var filas = tabla.querySelectorAll("tr");

    // Iterar sobre cada fila de la tabla
    filas.forEach(function(fila) {
        // Obtener los elementos de la fila
        var elementos = fila.querySelectorAll("td");

        // Obtener los valores de los elementos y hacer lo que necesites con ellos
        var suscriptor = elementos[1].textContent;
        var nuid = elementos[2].textContent;
        var orden = elementos[3].textContent;
        var lecturaActual = elementos[4].querySelector("input").value;
        var lecturaAnterior = elementos[5].textContent;
        var m3 = elementos[6].textContent;
        var promedio = elementos[7].textContent;
        var medidor = elementos[8].textContent;
        var estadoLectura = elementos[9].querySelector("select").value;
        //var estadoLectura = document.getElementById("EstadoLectura_").value;
        var cantidadPedida = elementos[10].querySelector("input").value;
        var estadoMedidor = elementos[11].textContent;
        
        
        console.log("suscriptor: " + suscriptor);
        console.log("nuid: " + nuid);
        console.log("orden: " + orden);
        console.log("lecturaActual: " + lecturaActual);
        console.log("lecturaAnterior: " + lecturaAnterior);
        console.log("m3: " + m3);
        console.log("promedio: " + promedio);
        console.log("medidor: " + medidor);
        console.log("estadoLectura: " + estadoLectura);
        console.log("cantidadPedida: " + cantidadPedida);
        console.log("estadoMedidor: " + estadoMedidor);
        
        
        // Agregar los valores a los arrays
    xnuidArr.push(nuid);
    xlecturaActualArr.push(lecturaActual);
    xlecturaAnteriorArr.push(lecturaAnterior);
    xEstadoLecturaArr.push(estadoLectura);    
    xCantidadPedidaArr.push(cantidadPedida); // Este es aforo

    });
    
    
    	console.log("LA LISTA DE xnuidArr ES : " + xnuidArr);
    	console.log("LA LISTA DE xlecturaActualArr ES : " + xlecturaActualArr);
    	console.log("LA LISTA DE xlecturaAnteriorArr ES : " + xlecturaAnteriorArr);

    
    
    
    		// Crear un objeto que contenga los datos a enviar
				var datos = {
					xnuidArr: xnuidArr,
					xlecturaActualArr: xlecturaActualArr,
					xlecturaAnteriorArr: xlecturaAnteriorArr,
					xEstadoLecturaArr: xEstadoLecturaArr,
					xCantidadPedidaArr: xCantidadPedidaArr,
					idPeriodo: idPeriodo,
					idRuta: idRuta

				};

				// Realizar una solicitud POST al controlador
				fetch("./GuardarRegistro", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify(datos),
				})
					.then((response) => response.json())
					.then((data) => {
						console.log("data es : ", data);

						// Acceder a la lista de resultados y actualizar la tabla
						var lista = data.lista;
						var EstadoLectura = data.EstadoLectura;
						var xInicioRegistroTxData = data.xInicioRegistroTx;
						
						
						// Asignar el valor obtenido al input con el ID "xInicioRegistroTx"
    					document.getElementById("xInicioRegistroTx").value = xInicioRegistroTxData;
						console.log("listaBusqueda es : ", JSON.stringify(lista));

						// Llamar a la función para actualizar la tabla
						actualizarTabla(lista, EstadoLectura);
						
	
					})
					.catch((error) => {
						console.error("Error en la solicitud:", error);
					});
					
					
}


   function mostrarDetalle(idTerceroInt) {
					console.log("Ingresó a mostrarDetalle");
					console.log("El idTercero en mostrarDetalle es :" + idTerceroInt);

					console.log("El tipo de dato de idTercero es: " + typeof idTerceroInt);
					
					// Convierte idTercero a string
    				var idTercero = idTerceroInt.toString();

					// Crear un objeto que contenga los datos a enviar
					var datos = {
						idTercero: idTercero
					};

					// Realizar una solicitud POST al controlador
					fetch("./TraerSuscriptor-Post", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify(datos),
					})
						.then((response) => {
							// Verifica si la respuesta es una redirección
							if (response.redirected) {
								// Redirige al URL especificado en la respuesta
								window.location.href = response.url;
							} else {
								// Parsea la respuesta JSON si no es una redirección
								return response.json();
							}
						})
						.then((data) => {
							if (data) {
								var message = data.message;
								console.log(message);
							}
						})
						.catch((error) => {
							console.error("Error al registrar el log:", error);
						});
				}
				
				
				

	function ReporteExcel() {

				 var idPeriodo = document.getElementById("xIdPeriodo").value;
   				 var idRuta = document.getElementById("Ruta").value;
				 var formato = "EXCEL"


				// Crear un objeto que contenga los datos a enviar
				var datos = {
					idPeriodo: idPeriodo,
					idRuta: idRuta,
					formato:formato

				};

				// Realizar una solicitud POST al controlador
				fetch("./DescargarReporteExcelRutaPorFiltro", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify(datos),
				})
					.then(response => response.blob()) // Obtener el contenido como un objeto Blob
					.then(blob => {
						// Crear un objeto URL para el Blob
						const url = URL.createObjectURL(blob);

						// Abrir una nueva ventana para mostrar el archivo
						window.open(url);
					})
					.catch(error => console.error('Error al descargar el archivo', error));


			}				
		
		
		
		function renumerar(idTerceroInt){
			
			console.log("Ingresó a renumerar");
					console.log("El idTercero en renumerar es :" + idTerceroInt);

					console.log("El tipo de dato de idTercero es: " + typeof idTerceroInt);
					
					// Convierte idTercero a string
    				var idTercero = idTerceroInt.toString();
    				var idPeriodoInt = document.getElementById("xIdPeriodo").value;
    				
    				var xInicioRegistroTx = document.getElementById("xInicioRegistroTx").value;
    				console.log("xInicioRegistroTx EN RENUMERAR ES :  " + xInicioRegistroTx);
    				
    				
    				var idPeriodo = idPeriodoInt.toString();

					// Crear un objeto que contenga los datos a enviar
					var datos = {
						idTercero: idTercero,
						idPeriodo: idPeriodo,
						xInicioRegistroTx: xInicioRegistroTx
					};

					// Realizar una solicitud POST al controlador
					fetch("./Renumerar-Post", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify(datos),
					})
						.then((response) => {
							// Verifica si la respuesta es una redirección
							if (response.redirected) {
								// Redirige al URL especificado en la respuesta
								window.location.href = response.url;
							} else {
								// Parsea la respuesta JSON si no es una redirección
								return response.json();
							}
						})
						.then((data) => {
							if (data) {
								var message = data.message;
								console.log(message);
							}
						})
						.catch((error) => {
							console.error("Error al registrar el log:", error);
						});
		}



</script>
</body>
</html>