<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/NavBarSite.css}">
    <title>NavbarSite</title>
</head>
<body>
	
	<header th:fragment="navbarSite">
    <nav class="navbar" th:style="'background-color: ' + ${Navbar_color}">
        <div class="container" style="margin-left: 0px;">
            <a href="#" class="logo">Logo</a>
            <button class="hamburger" aria-label="Toggle navigation">
                &#9776;
            </button>
            <ul class="nav-links" style="margin-left: 0px;">
                <li ><a href="/" class="nav-item nav-link" th:style="'color: ' + ${LetraNavbar_color} + '; font-family: ' + ${LetraNavbar_fuente}">Inicio</a></li>
                <li><a href="/Nosotros" class="nav-item nav-link" th:style="'color: ' + ${LetraNavbar_color} + '; font-family: ' + ${LetraNavbar_fuente}">Quienes somos</a></li>
                <li><a href="/Institucional" class="nav-item nav-link" th:style="'color: ' + ${LetraNavbar_color} + '; font-family: ' + ${LetraNavbar_fuente}">Institucional</a></li>
                <li><a href="/Noticias" class="nav-item nav-link" th:style="'color: ' + ${LetraNavbar_color} + '; font-family: ' + ${LetraNavbar_fuente}">Noticias</a></li>
                <li><a href="/Contacto" class="nav-item nav-link" th:style="'color: ' + ${LetraNavbar_color} + '; font-family: ' + ${LetraNavbar_fuente}">Contacto</a></li>
                <li><a href="/ConsultarFactura" class="nav-item nav-link" th:style="'color: ' + ${LetraNavbar_color} + '; font-family: ' + ${LetraNavbar_fuente}">Consultar factura</a></li>
                <li><a href="/PQRsite" class="nav-item nav-link" th:style="'color: ' + ${LetraNavbar_color} + '; font-family: ' + ${LetraNavbar_fuente}">PQR</a></li>
                <li><a href="/DondePagar" class="nav-item nav-link" th:style="'color: ' + ${LetraNavbar_color} + '; font-family: ' + ${LetraNavbar_fuente}">Donde pagar</a></li>
                <li><a href="/LoginSite" class="nav-item nav-link" th:style="'color: ' + ${LetraNavbar_color} + '; font-family: ' + ${LetraNavbar_fuente}">Login</a></li>
            </ul>
        </div>

    </nav>
             <div class="spacer" th:style="'background-color: ' + ${LetraNavbar_color} + '; width: auto; height: 10px;'"></div>
    
 </header>   
    <script th:inline="javascript" src="./js/navbarSite.js"></script>
</body>
</html>