<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<head th:replace ="combo/head.html :: head" ></head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/General.css}"> 
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/fuenteColor.css}">  	
    	<link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title> MARKETING</title>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body class="colorbody">
    	<header th:replace="combo/navBar.html :: navbar"></header>
			 <!-- Encabezado general -->
			 		 <!-- Encabezado general -->
	<div class="containerFlex" id="encabezado">
		<div class="local">
			<h2 class="letraBlue" th:replace="combo/comboLocal.html :: comboLocal"></h2>
		</div>
	
		<div class="descripcion"> 
			<h2 class="tituloAFcenter">CREAR MEDIO DE PAGO</h2>
		</div>
		<div class="fechahora">
			<h2 class="letra" th:replace="combo/FechaHoraActual.html :: comboFechaHora">
				
		</div>
		
	</div>
	<div class="Container1">
		<form class="containerTable">
			<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
				
			<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="descripcion" style="margin: 15px;">NOMBRE:</label>
							<input type="text" id="descripcion" style="width: 250px; margin-left: 35px;" >
						</div>
			
			
					</div>
				</div>
				<div id="caja2">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">

						<div class="containerFlexCenterNombre" id="Cuentas" th:data-xidcontabook="${xIdContaBook}">
			
							<label class="letra" for="CuentaContable"  style="margin: 15px;">CUENTA CONTABLE RECAUDO:</label>
							<select  id="CuentaContableSelect"  class="CuentaSelect" style="width: 250px; height: 25px; margin-left: 10px;">
        	                  <option th:text="${xLista.getIdCuentaAux() + ' - ' + xLista.getNombreCuenta()}" th:each="xLista:${xAuxiliares}"
        	                          th:value="${xLista.getIdCuentaAux()}" th:selected="${xLista.getIdCuentaAux()} == ${xcuentaRecaudoCredito}" ></option>
			                </select>
						  <input type="text" id="CuentaContable" class="CuentaInput" maxlength="100"  min="0" max="100" step="0.01" style="width: 250px; margin-left: 10px; display: none;" th:value="${xcuentaRecaudoCredito}"  >
						</div>
			
			
					</div>
				</div>
			</div>
			
				<div id="cajaprincipal" class="cajaprincipal">
				<div id="caja1">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
						
						<div class="containerFlexCenterNombre" id="Cuentas" th:data-xidcontabook="${xIdContaBook}">
			
							<label class="letra" for="CuentaCxC"  style="margin: 15px;">CUENTA CxC:</label>
							<select  id="CuentaCxCSelect"  class="CuentaSelect" style="width: 250px; height: 25px; margin-left: 5px;">
        	                  <option th:text="${xLista.getIdCuentaAux() + ' - ' + xLista.getNombreCuenta()}" th:each="xLista:${xAuxiliares}"
        	                          th:value="${xLista.getIdCuentaAux()}" th:selected="${xLista.getIdCuentaAux()} == ${xcuentaRecaudoCredito}" ></option>
			                </select>
						  <input type="text" id="CuentaCxC" class="CuentaInput" maxlength="100"  min="0" max="100" step="0.01" style="width: 250px; margin-left: 5px; display: none;" th:value="${xcuentaRecaudoCredito}"  >
						</div>
			
			
					</div>
				</div>
				<div id="caja2">
					<div id="NombreTercero" class="containerFlexCenter2" style="width: 600px;">
			
			
						<div class="containerFlexCenterNombre">
			
							<label class="letra" for="Convenio" style="margin: 15px;">CONVENIO:</label>
							<input type="text" id="Convenio" style="width: 250px; margin-left: 172px;" th:value="${MaximoIdTercero}" >
						</div>
			
			
					</div>
				</div>
			</div>
			

	
			</div>
			
		
				<div class="divCencer">
					<!-- Botón para enviar el formulario -->
					<a href="./MediosDePago" class="btn btn-success" style="margin: 50px;">Regresar</a>
					<button type="button" class="btn btn-primary" onclick="crearMedioDePago()" >Crear Medio de pago</button>
					
				</div>
     		
		</form>
	</div>
	
	

    <script th:inline="javascript" src="./js/contadorRegresivo.js"></script>
    <script th:inline="javascript">
		
		
		document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll("[id='Cuentas']").forEach(function(container) {
            var input = container.querySelector(".CuentaInput");
            var select = container.querySelector(".CuentaSelect");
            var xIdContaBook = container.getAttribute("data-xidcontabook");

            console.log("xIdContaBook es " + xIdContaBook);

            if (xIdContaBook === "0") {              
                    input.style.display = "block";
                    select.style.display = "none";               
            }
        });
    });
		
	
		
	function crearMedioDePago() {
		
		var descripcion = document.getElementById("descripcion").value;
		var Convenio = document.getElementById("Convenio").value;    
    
        var CuentaContable = 0;
		var CuentaCxC = 0;
    
    
        var xIdContaBook = 0;
	   
	    document.querySelectorAll("[id='Cuentas']").forEach(function(container) {
            xIdContaBook = container.getAttribute("data-xidcontabook");


        });
        
        
        if (xIdContaBook === "0") {       			       
         CuentaContable = document.getElementById("CuentaContable").value;;
		 CuentaCxC = document.getElementById("CuentaCxC").value;
            
            }
            
            
        if (xIdContaBook === "1") {     			         
         CuentaContable = document.getElementById("CuentaContableSelect").value;
		 CuentaCxC = document.getElementById("CuentaCxCSelect").value;
		              
            }    
    
    
    		
		
		if (!descripcion) {
        alert("Por favor, ingrese una descripción.");
        return;
    }
    
    	if (!CuentaContable) {
        alert("Por favor, ingrese una cuenta contable.");
        return;
    }
    
    
    		if (!CuentaCxC) {
        alert("Por favor, ingrese una cuenta CxC.");
        return;
    }




		
		// Crear un objeto que contenga los datos a enviar
    var datos = {
			descripcion: descripcion,
			CuentaContable: CuentaContable,
			CuentaCxC: CuentaCxC,
			Convenio: Convenio
        
    };
    
    // Realizar una solicitud POST al controlador
    fetch("./CrearMedioDePago-Post", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(datos),
    })
    .then((response) => response.json())
    .then((data) => {
		
		var message = data.message;
       console.log(message);
       
       var idTercero = data.idTercero
       var descripcion = data.descripcion
       
          swal({
            title: "¡Medio de pago: " + descripcion + " creado correctamente!" ,
            //text: "La PQR  " + numeroRadicado + " ha sido creada correctamente",
            icon: "success",
            button: "Continuar",
        })
        .then((value) => {
            // Redirigimos a la vista "CrearSuscriptor"" al hacer clic en el botón Continuar
            if (value) {
                window.location.href = "./MediosDePago";
            }
        });

    })
    .catch((error) => {
        console.error("Error al registrar el log:", error);
    });
    
		
	
	}
		
	
		
	</script>
</body>
</html>