<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <head th:replace ="combo/head.html :: head" ></head> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/NavBar.css}"> 
        <title>MAIL MARKETING</title>
</head>
<body>
		<!-- barra de navegación navBar  -->
		<div layout:fragment="page-content">
		<header th:replace ="combo/navBar.html :: navbar" ></header>
		</div>
          <div style="float: center; padding-left: 10px;">
    <!-- Del mismo modo agrego el fragmento empty que esta dentro de empty.html en el iframe -->
				
				<!-- Logo de Mobile-tic y nombre del acueducto -->
                 <iframe  th:replace ="combo/empty.html :: empty" align="left" width="1000px" height="650px" frameborder="0"  marginwidth="0" marginheight="0" name="workarea">
                 </iframe>
            </div>

                 
      <script th:inline="javascript">
	
	console.log("hola mundo ");
	
		var tiempoExpiracion = 300;  // Tiempo en segundos
		var tiempoExpiracionMillis = tiempoExpiracion * 1000; // Tiempo en milisegundos
		tiempoExpiracionMillis += new Date().getTime();

	// Función para actualizar el contador regresivo
	function actualizarContadorRegresivo() {
		// Obtenmos el tiempo actual en milisegundos
		var tiempoActualMillis = new Date().getTime();

		// Calculamos el tiempo restante
		var tiempoRestante = tiempoExpiracionMillis - tiempoActualMillis;

		// Conviertimos el tiempo restante en segundos
		var segundosRestantes = Math.floor(tiempoRestante / 1000);

		console.log("Tiempo restante: " + segundosRestantes + " segundos");

		// Verificamos si el tiempo restante es 0
		if (segundosRestantes <= 0) {
			// Detenemos el contador 
			clearInterval(intervalId);

			console.log("Tiempo restante detenido");

			// Crear un objeto que contenga los datos a enviar
			var datos = {

			};

			// Realizar una solicitud POST al controlador
			fetch("./LogoutPorInactividad", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify(datos),
			})
				.then((response) => response.json())
				.then((data) => {

					var message = data.message;
					console.log(message);
					
					// Redirige a la vista de login
        			window.location.href = '/LoginSite'; 

				})
				.catch((error) => {
					console.error("Error al registrar el log:", error);
				});
		}
	}

		// Agregamos un evento si llega haber un click en el documento
		document.addEventListener("click", function () {

			// Reiniciamos el contador
			tiempoExpiracionMillis = tiempoExpiracion * 1000;
			tiempoExpiracionMillis += new Date().getTime();

			// Llamamos a la función para actualizar el contador regresivo
			actualizarContadorRegresivo();
		});

		// Actualizamos el contador regresivo cada segundo
		var intervalId = setInterval(actualizarContadorRegresivo, 1000);

		// Llamamos la función para actualizar el contador regresivo al cargar la página
		actualizarContadorRegresivo();


</script>               
</body>
</html>