
.barraNavegacion{
	
	height: 60px;
	background-color: lightgreen;
	display: flex;
	justify-content: space-around;
	text-align:center;
}


.barraNavegacion ul{
	font-size: 16px;
	margin: 10px;
}

.OptionTipo1{
	
	color:burlywood ;
}

#dropdownMenuLink{
	
	margin-top: 10px;
}

.Logo-marketing{
	
	margin-top: 10px;
}

#CerrarSesion{
	margin-top: 15px;
}


#CerrarSesion a{
	
	color: aliceblue;
}

